@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Models
@code{
    [Parameter] public BestioleDto Item { get; set; } = null!;
    [Parameter] public bool MasquerTitres { get; set; }
    [Parameter] public bool AfficherBonusDeCompetence { get; set; }
}

@if (Item.Competences.Any())
{
    if (!MasquerTitres)
    {
        <h5 class="card-title">Compétences</h5>
    }
    <p><AptitudeAcquiseItemList Items="@Item.Competences" AfficherBonusDeCompetence="@AfficherBonusDeCompetence"/></p>
}

@if (Item.Talents.Any())
{
    if (!MasquerTitres)
    {
        <h5 class="card-title">Talents</h5>
    }
    <p><AptitudeAcquiseItemList Items="@Item.Talents"/></p>
}

@if (Item.Traits.Any())
{
    if (!MasquerTitres)
    {
        <h5 class="card-title">Traits</h5>
    }
    <p><AptitudeAcquiseItemList Items="@Item.Traits" /></p>
}

@if (Item.AptitudesOptionnels.Any())
{
    if (!MasquerTitres)
    {
        <h5 class="card-title">Traits optionnels</h5>
    }
    <p><AptitudeAcquiseItemList Items="@Item.AptitudesOptionnels" /></p>
}