@using BlazorWjdr.Shared.Oi
@using BlazorWjdr.Models

<a href="@(Item.EstUneCreature ? "creatures" : "personnages")/@Item.Id.ToString()/" class="btn btn-light btn-item">
    @if (Item.EstUnPersonnageJoueur)
    {
        <Tooltip Text="@_tooltipNomJoueur">
            <ItemIcon Icon="person" Classes="ml-1 mr-1"/>
        </Tooltip>
    }
    else if (Item.EstUnPersonnage && Item.EstUnPersonnageJoueur == false)
    {
        <Tooltip Text="@Item.Description">
            <ItemIcon Icon="person" Classes="mr-1"/>
        </Tooltip>
    }
    else
    {
        <Tooltip Text="@Item.Description">
            <ItemIcon Icon="bug" Classes="ml-1 mr-1"/>
        </Tooltip>
    }
    <span>@(Nom ?? Item.Nom)</span>
    @if (Item.CheminementPro.Any())
    {
        <span>, @Item.CarriereActuelle?.Nom</span>
    }
    @if (!Item.EstUnPersonnageJoueur && Item.Notes != "")
    {
        <TooltipIcon Icon="info" Classes="ml-2" Style="color:#aa0101;" Text="@Item.Notes" />
    }
    @ChildContent
</a>
@code{
    [Parameter] public BestioleDto Item { get; set; } = null!;
    [Parameter] public string? Nom { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    private string _nomRace = "";
    private string _origines = "inconnu";
    private string _tooltipNomJoueur = "";
    
    protected override void OnParametersSet()
    {
        _nomRace = (Item.Sexe != 1 || Item.Race.NomFeminin == "" ? Item.Race.NomMasculin : Item.Race.NomFeminin).ToLower();
        if (Item.Origines.Any())
        {
            _origines = Item.Origines.First().Nom;
            if (Item.Origines.First().Parent != null)
                _origines += $", {Item.Origines.First().Parent!.Nom}";
        }

        if (Item.EstUnPersonnageJoueur)
            _tooltipNomJoueur = $"Créé le {Item.DateDeCreation} par {Item.Joueur}\nRace : {_nomRace}\nOrigines : {_origines}\n{Item.Notes}";
        
        base.OnParametersSet();
    }

}