@using BlazorWjdr.Models
<a href="/bestioles/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <span class="oi oi-@(Item.EstUnPersonnage ? "person" : "bug") item-icon mr-1" aria-hidden="true"></span>
    <span>@Item.Nom</span>
    @if (Item.CheminementPro.Any())
    {
        <span>, @Item.CarriereActuelle?.Nom</span>
    }
    <strong class="ml-2">@(Item.Sexe == 1 ? Item.Race.NomMasculin : Item.Race.NomFeminin)</strong>
    @if (!string.IsNullOrWhiteSpace(Item.Joueur))
    {
        <em class="ml-2">(@Item.Joueur)</em>
    }
    @if (!string.IsNullOrWhiteSpace(@Item.Commentaire))
    {
        <Tooltip Text="@Item.Commentaire">
            <span class="oi oi-info ml-2" style="color:#aa0101" aria-hidden="true"></span>
        </Tooltip>
    }
</a>
@code{
    [Parameter]
    public BestioleDto Item { get; set; } = null!;
}