@using BlazorWjdr.Models
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Services
@using System.ComponentModel.Design

@inject RacesService _racesService

<h6 class="card-title">Plan de carrière</h6>
<p>
    <BestioleProfil Item="@Item" NAfficherQueLeProfilActuel="@NAfficherQueLeProfilActuel"/>
</p>
<p class="card-text">
    <Blessures Item="@Item"/>
</p>

<AptitudesAcquises Item="@Item"/>

@if (!string.IsNullOrWhiteSpace(Item.Equipement))
{
    <h6 class="card-title">Equipement</h6>
    <p>@Item.Equipement</p>
}

@code{
    [Parameter]
    public BestioleDto Item { get; set; } = null!;
    [Parameter]
    public bool NAfficherQueLeProfilActuel { get; set; }
}