@using BlazorWjdr.Models
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Services
@using System.ComponentModel.Design

@inject RacesService _racesService

<p>
    <BestioleProfil Item="@Item" NAfficherQueLeProfilActuel="@NAfficherQueLeProfilActuel"/>
</p>
<BestioleBlessuresEtMouvement Item="@Item"/>
<h4 class="card-title">Aptitudes</h4>
<AptitudesAcquises Item="@Item" MasquerTitres="@true"/>

@code{
    [Parameter]
    public BestioleDto Item { get; set; } = null!;
    [Parameter]
    public bool NAfficherQueLeProfilActuel { get; set; }
}