@using BlazorWjdr.Models
<a href="creatures/@Item.Id.ToString()/" class="btn btn-light btn-item">
    @if (_tooltipNomJoueur != "")
    {
        <Tooltip Text="@_tooltipNomJoueur">
            <span class="oi oi-person item-icon mr-1" aria-hidden="true"></span>
        </Tooltip>
    }
    else
    {
        <span class="oi oi-@(Item.EstUnPersonnage ? "person" : "bug") item-icon mr-1" aria-hidden="true"></span>
    }
    @Item.Nom
    @if (Item.CheminementPro.Any())
    {
        <span>, @Item.CarriereActuelle?.Nom @_nomRace @_originaireDu</span>
    }
    else
    {
        <span class="ml-2">@_nomRace</span>
    }
    @if (!string.IsNullOrWhiteSpace(Item.Notes))
    {
        <Tooltip Text="@Item.Notes">
            <span class="oi oi-info ml-2" style="color:#aa0101" aria-hidden="true"></span>
        </Tooltip>
    }
</a>
@code{
    [Parameter]
    public BestioleDto Item { get; set; } = null!;

    private string _nomRace = "";
    private string _originaireDu = "";
    private string _tooltipNomJoueur = "";
    
    protected override void OnParametersSet()
    {
        _nomRace = (Item.Sexe == 1 || string.IsNullOrWhiteSpace(Item.Race.NomFeminin) ? Item.Race.NomMasculin : Item.Race.NomFeminin).ToLower();
        if (Item.Origines.Any())
            _originaireDu = $"({Item.Origines.First().Nom})";

        if (!string.IsNullOrWhiteSpace(Item.Joueur))
            _tooltipNomJoueur = $"Joueur : {Item.Joueur}. Créé le {Item.DateDeCreation}";
        
        base.OnParametersSet();
    }

}