@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Sortilege
@using BlazorWjdr.Models
@using BlazorWjdr.Services
@code {
    [Parameter] public CombattantDto Item { get; set; } = null!;
    [Parameter] public bool Ennemi { get; set; }
    
    private bool AfficherFiche { get; set; }
}
<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn mr-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <span class="oi oi-eye" aria-hidden="true"></span>
        </span>
    </td>
    <td class="px-2">
        <CombattantItem Item="@Item" Ennemi="@Ennemi"/>
    </td>
    <td style="text-align:center;">@Item.Combattant.ProfilActuel.Cc</td>
    <td style="text-align:center;">@Item.Combattant.ProfilActuel.Bf</td>
    <td style="text-align:center;">@Item.Combattant.ProfilActuel.Be</td>
    <td>
        <Compteur CurrentValue="0"/> (max @Item.Combattant.ProfilActuel.BonusDInitiative)
    </td>
    <td>
        <Compteur CurrentValue="@Item.Combattant.Blessures"/><span>/ @Item.Combattant.Blessures</span>
    </td>
    <td class="px-2">
        <AptitudeAcquiseItemList Items="@Item.Combattant.AptitudesAcquises.Where(aa => aa.Aptitude.Parent?.Id == AptitudesService.IdMeleeGroupe).ToArray()"/>
    </td>
    <td class="px-2">
        <ArmeItemList Items="@Item.Combattant.Armes"/>
        <ArmureItemList Items="@Item.Combattant.Armures"/>
        <SortilegeItemList Items="@Item.Combattant.Sorts"/>
    </td>
</tr>
@if (AfficherFiche)
{
    <tr>
        <td colspan="10" class="p-3">
            <div class="bulle" style="padding-bottom: 0;">
                <BestioleFiche Item="@Item.Combattant" NAfficherQueLeProfilActuel="@true"/>
            </div>
        </td>
    </tr>
}