@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Sortilege
@using BlazorWjdr.Models
@using BlazorWjdr.Services
@code {
    [Parameter] public CombattantDto Item { get; set; } = null!;
    [Parameter] public bool Ennemi { get; set; }
    
    private bool AfficherFiche { get; set; }
}
<tr class="@(Ennemi ? "row-ennemi" : "")">
    <td>
        <span class="btn btn-primary btn-item-action table-btn mr-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <OiIcon Icon="eye"/>
        </span>
    </td>
    <td class="px-2">
        <CombattantItem Item="@Item" Ennemi="@Ennemi"/>
    </td>
    <td style="text-align:center;">@Item.Combattant.ProfilActuel.Cc</td>
    <td style="text-align:center;">@Item.Combattant.ProfilActuel.Bf</td>
    <td style="text-align:center;">@Item.Combattant.ProfilActuel.Be</td>
    <td>
        <Compteur CurrentValue="0"/> (max @Item.Combattant.ProfilActuel.BonusDInitiative)
    </td>
    <td>
        <Compteur CurrentValue="@Item.Combattant.Blessures"/><span>/ @Item.Combattant.Blessures</span>
    </td>
    <td class="px-2">
        <AptitudeAcquiseItemList Items="@Item.Combattant.AptitudesAcquises.Where(aa => aa.Aptitude.Parent?.Id is AptitudesService.IdMeleeGroupe or AptitudesService.IdTirGroupe).ToArray()"/>
    </td>
</tr>
@if (AfficherFiche)
{
    <tr class="@(Ennemi ? "row-ennemi" : "")">
        <td colspan="7" class="p-3" style="max-width:500px;">
            <div class="bulle" style="padding-bottom: 0;">
                <BestioleFiche Item="@Item.Combattant" NAfficherQueLeProfilActuel="@true"/>
            </div>
        </td>
        <td colspan="1" class="p-3">
            <div class="bulle" style="padding-bottom: 0;">
                <BestioleFicheMatosSorts Item="@Item.Combattant"/>
            </div>
        </td>
    </tr>
}