<div class="scroll" id="profile-area">
    <ProfilRowHeaders></ProfilRowHeaders>
    <ProfilRowBonus PlanDeCarriere="@Plan"></ProfilRowBonus>
    <div class="profile-row">
        <div class="profile-row-interline"></div>
    </div>
    <div class="profile-row">
        <div class="profile-columns-title">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td class="profile-column-header">A</td>
                    <td class="profile-column-header">B</td>
                    <td class="profile-column-header">BF</td>
                    <td class="profile-column-header">BE</td>
                    <td class="profile-column-header">M</td>
                    <td class="profile-column-header">Mag</td>
                    <td class="profile-column-header">PF</td>
                    <td class="profile-column-header">PD</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="profile-row">
        <div class="profile-row-title"></div>
        <div class="profile-row-boxes">
            <div class="profile-box medium-box">@Plan.A</div>
            <div class="profile-box medium-box">@Plan.B</div>
            <div class="profile-box medium-box"></div>
            <div class="profile-box medium-box"></div>
            <div class="profile-box medium-box">@Plan.M</div>
            <div class="profile-box medium-box">@Plan.Mag</div>
            <div class="profile-box medium-box"></div>
            <div class="profile-box medium-box"></div>
        </div>
    </div>
</div>