<div class="profile-row">
    <div class="profile-row-title">@LeftTitle</div>
    <div class="profile-row-boxes">
        <div class="profile-box medium-box">@Profil.CC</div>
        <div class="profile-box medium-box">@Profil.CT</div>
        <div class="profile-box medium-box">@Profil.F</div>
        <div class="profile-box medium-box">@Profil.E</div>
        <div class="profile-box medium-box">@Profil.Ag</div>
        <div class="profile-box medium-box">@Profil.Int</div>
        <div class="profile-box medium-box">@Profil.FM</div>
        <div class="profile-box medium-box">@Profil.Soc</div>
    </div>
</div>