<div class="profile-row">
    <div class="profile-row-title">@LeftTitle</div>
    <div class="profile-row-boxes">
        <div class="profile-box medium-box">@PlanDeCarriere.CC</div>
        <div class="profile-box medium-box">@PlanDeCarriere.CT</div>
        <div class="profile-box medium-box">@PlanDeCarriere.F</div>
        <div class="profile-box medium-box">@PlanDeCarriere.E</div>
        <div class="profile-box medium-box">@PlanDeCarriere.Ag</div>
        <div class="profile-box medium-box">@PlanDeCarriere.Int</div>
        <div class="profile-box medium-box">@PlanDeCarriere.FM</div>
        <div class="profile-box medium-box">@PlanDeCarriere.Soc</div>
    </div>
</div>