@using BlazorWjdr.Models
<div class="row row-profil row-profil-bonus">
    <ProfilCellValue IsBonus="true" Value="@Profil.CC"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.CT"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.F"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.E"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.Ag"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.Int"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.FM"/>
    <ProfilCellValue IsBonus="true" Value="@Profil.Soc"/>
</div>
@code{
    [Parameter]
    public ProfilDto Profil { get; set; } = null!;
}