@page "/regles/cheminement-professionnel/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Regle
@using BlazorWjdr.Services

@inject CarrieresService _carrSvc

<MainTopRow>
    <h3 class="card-title">Cheminement professionnel</h3>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        <div class="col-8">
            <div class="card-body">
                <h3 class="card-title">Entreprendre une nouvelle carrière</h3>
                <p class="card-text">
                    Vous pouvez décider d'entreprendre une nouvelle carrière à tout moment, en respectant les conditions suivantes. 
                </p>
                <ul>
                    <li>la nouvelle carrière est une <strong>Carrière de Base</strong> ou figure dans les débouchés de votre carrière actuelle (*)</li>
                    <li>vous vous êtes procuré les dotations de la carrière envisagée</li>
                    <li>vous disposez de l'expérience nécessaire à votre cas de figure ; carrière de base : 200 xp ; débouché : 100 xp ; carrière actuelle complétée : -100 xp</li>
                    <li>le contexte actuel vous le permet, et surtout le MJ est d'accord (**)</li>
                </ul>
                <p class="card-text">
                    (*) Si votre carrière actuelle est un <strong>Avancement</strong> d'une ou plusieurs autres carrières que vous avez entrepris par le passé, les débouchés de ces <strong>Carrières d'Origine</strong> vous sont égallement accessibles. 
                </p>
                <p class="card-text">
                    (**) La plupart des carrières impliquent des conditions plus ou moins faciles à remplir ; en voici des exemples.
                </p>
                <ul>
                    <li>Si on peut choisir à peu près à tout moment de devenir <CarriereItem Item="@_carrSvc.GetCarriere(331)"/>, il faudra tout de même que vous vous trouviez dans un environnement urbain d'une taille raisonnable.</li>
                    <li>De même, si devenir <CarriereItem Item="@_carrSvc.GetCarriere(73)"/> dans l'armée impérial est aisé, étant donné les besoins constants en troupes dans l'Empire, devenir <CarriereItem Item="@_carrSvc.GetCarriere(197)"/> quand vous êtes <CarriereItem Item="@_carrSvc.GetCarriere(333)"/> ne dépend pas de votre simple volonté : vous devrez vous faire remarquer par vos supérieurs d'une manière ou d'une autre, et le contexte actuel doit pouvoir justifier ce besoin dans l'armée.</li>
                    <li>Devenir <CarriereItem Item="@_carrSvc.GetCarriere(199)"/> est une simple question de volonté, du moins tant qu'une tête de géant fraîchement tranchée prouve que vous le méritez.</li> 
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Compléter une carrière</h3>
                    <p class="card-text">
                        Lorsque votre carrière actuelle est complétée, entreprendre une nouvelle carrière vous coûtera 100 xp de moins.
                        <br/>
                        Par conséquent une <strong>Carrière de Base</strong> ne vous coûtera que 100 xp, et une carrière figurant parmi vos débouchés sera gratuite.
                    </p>
                    <p class="card-text">
                        Pour que votre carrière actuelle soit considérée complétée, vous devez remplir les conditions suivantes :
                    </p>
                    <ul>
                        <li>avoir acheté les compéténces, talents et traits proposés (*)(**)</li>
                        <li>avoir acheté toutes les améliorations de Caractéristiques proposées</li>
                    </ul>
                    <p>
                        (*) pour les Choix de compétences et de talents, avoir acheté l'une des compétences/talents parmi chaque choix suffit.
                        <br/>
                        (**) Si c'est votre carrière actuelle est un Avancement d'une autre carrière, cela n'inclue pas les compétences et les talents optionnels des Carrières d'Origine.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-body">
                <AvancementDeCarriere/>
            </div>
        </div>
    </div>
</div>