@page "/regles/cheminement-professionnel/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Regle

@inject CarrieresService _carrSvc
@inject AppState _appState
@code {
    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Cheminement professionnel");
    }
}
<div class="row">
    <div class="col-7">
        <div class="card-body">
            <h3>Entreprendre une nouvelle carrière</h3>
            <p class="card-text">
                Vous pouvez décider d'entreprendre une nouvelle carrière à tout moment, en respectant les conditions suivantes.
            </p>
            <ul>
                <li>la nouvelle carrière est une <strong>Carrière de Base</strong> ou figure dans les débouchés de votre carrière actuelle (*)</li>
                <li>vous vous êtes procuré les dotations de la carrière envisagée</li>
                <li>vous disposez de l'expérience nécessaire à votre cas de figure ; carrière de base : 200 xp ; débouché : 100 xp ; carrière actuelle complétée : -100 xp</li>
                <li>le contexte actuel vous le permet, et surtout le MJ est d'accord (**)</li>
            </ul>
            <p class="card-text">
                (*) Si votre carrière actuelle est un <strong>Avancement</strong> d'une ou plusieurs autres carrières que vous avez entrepris par le passé, les débouchés de ces <strong>Carrières d'Origine</strong> vous sont égallement accessibles.
            </p>
            <p class="card-text">
                (**) La plupart des carrières impliquent des conditions plus ou moins faciles à remplir ; en voici des exemples.
            </p>
            <ul>
                <li>Si on peut choisir à peu près à tout moment de devenir <CarriereItem Item="@_carrSvc.GetCarriere(331)" />, il faudra tout de même que vous vous trouviez dans un environnement urbain d'une taille raisonnable.</li>
                <li>De même, si devenir <CarriereItem Item="@_carrSvc.GetCarriere(73)" /> dans l'armée impérial est aisé, étant donné les besoins constants en troupes dans l'Empire, devenir <CarriereItem Item="@_carrSvc.GetCarriere(197)" /> quand vous êtes <CarriereItem Item="@_carrSvc.GetCarriere(333)" /> ne dépend pas de votre simple volonté : vous devrez vous faire remarquer par vos supérieurs d'une manière ou d'une autre, et le contexte actuel doit pouvoir justifier ce besoin dans l'armée.</li>
                <li>Devenir <CarriereItem Item="@_carrSvc.GetCarriere(199)" /> est une simple question de volonté, du moins tant qu'une tête de géant fraîchement tranchée prouve que vous le méritez.</li>
            </ul>
            <p class="card-text">
                Vous pouvez maintenant acheter les Traits éventuellement disponibles dans votre carrière, puis acquérir les dotations de la nouvelle carrière que vous envisagez afin d'être fin prêt à changer de carrière.
            </p>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h3>Compléter une carrière</h3>
                <p class="card-text">
                    Pour que votre carrière actuelle soit considérée complétée, vous devez remplir les conditions suivantes :
                </p>
                <ul>
                    <li>avoir acheté toutes les Compéténces et tous les Talents proposés (*)(**)</li>
                    <li>avoir acheté toutes les améliorations de Caractéristiques proposées, à hauteur de +10% par niveau de carrière au minimum.</li>
                </ul>
                <p>
                    (*) pour les Choix de compétences/talents, avoir acheté l'une des compétences/talents parmi chaque choix suffit.
                    <br />
                    (**) Si c'est votre carrière actuelle est un Avancement d'une autre carrière, cela n'inclue pas les compétences et les talents optionnels des Carrières d'Origine.
                </p>
                <h5>Super, mais à quoi ça sert ?</h5>
                <p class="card-text">
                    Une fois votre carrière complétée, vous avez accès aux éventuels Traits disponibles.
                </p>
                <p class="card-text">
                    De plus, entreprendre une nouvelle carrière vous coûtera 100 xp de moins.
                    <br />
                    Par conséquent une <strong>Carrière de Base</strong> ne vous coûtera que 100 xp, et une carrière figurant parmi vos débouchés sera gratuite.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="card-body">
            <AvancementDeCarriere />
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h3>Niveau de carrière</h3>
                <p class="card-text">
                    Il y a 3 niveaux de carrière. Le niveau de la majorité des carrières est déterminé de la façon suivante :
                </p>
                <ul>
                    <li><strong>Niveau 1 :</strong> toutes les carrières de base.</li>
                    <li><strong>Niveau 2 :</strong> carrières avancées accesibles depuis une carrière de base (filières).</li>
                    <li><strong>Niveau 3 :</strong> carrières avancées accesibles uniquement depuis des carrière avancées (filières).</li>
                </ul>
                <h5>Super, mais à quoi ça sert ?</h5>
                <p class="card-text">
                    Cela détermine le nombre d'améliorations de caractériques que vous devrez acheter pour que cette carrière soit considérée comme complétée, à raison de +10% par niveau.
                </p>
                <p class="card-text p-2">
                    <strong>Exemple : </strong>
                    <em>
                        la carrière de Monte-en-l'air est une carrière de niveau 2 car Avancée mais accessible via la carrière de base de Voleur. Ainsi qu'elle soit considérées comme 'complétée', vous devrez acheter toutes les améliorations de caractéristiques proposées à hauteur de +20%, quand cela est possible. Vous n'êtes donc pas obligé d'acheter le +25% en Agilité (uniquement le +20%) mais toutes les autres améliorations doivent l'être.
                    </em>
                </p>
                <p class="card-text">
                    Mieux, cela indique le nombre de fois que vous pouvez acheter les Compétences proposées par cette carrière (à raison d'une fois par Niveau).
                    <br />
                    Notez bien que cela ne concerne que les Compétences, pas les Talents.
                    <br />
                    Notez également que cela ne concerne pas les compétences des carrières précédentes dans le cadre d'une Avancement de carrière - celles-ci ne peuvent être acheter qu'une fois supplémentaires, quel que soit le niveau de la carrière qui la propose.
                </p>

            </div>
        </div>
    </div>
</div>
