@page "/table-carrieres-initiales/{RaceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Race

@inject RacesService RacesService;
@inject TableDesCarrieresInitialesService TableDesCarrInitService
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string RaceId { get; set; } = null!;

    private RaceDto Race { get; set; } = null!;
    private CarriereDto? _carriereAleatoire;

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Table des carrières initiales");
    }

    protected override void OnParametersSet()
    {
        Race = RacesService.GetRace(int.Parse(RaceId));
        base.OnParametersSet();
    }

    private void TirerUneCarriereInitiale()
    {
        _carriereAleatoire = TableDesCarrInitService.GetRandomStartingCareer(Race.Id);
    }
}
<div class="row">
    <div class="col-6">
        <div class="section">
            <p class="text-justify">
                <LinkCarrieresInitiales Actif="@(Race == RacesService.Humains)" Race="@RacesService.Humains" />
                <LinkCarrieresInitiales Actif="@(Race == RacesService.Halflings)" Race="@RacesService.Halflings" />
                <LinkCarrieresInitiales Actif="@(Race == RacesService.Nains)" Race="@RacesService.Nains" />
                <LinkCarrieresInitiales Actif="@(Race == RacesService.ElfesSylvains)" Race="@RacesService.ElfesSylvains" />
                <LinkCarrieresInitiales Actif="@(Race == RacesService.HautsElfes)" Race="@RacesService.HautsElfes" />
                <LinkCarrieresInitiales Actif="@(Race == RacesService.Gnomes)" Race="@RacesService.Gnomes" />
            </p>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <div class="mt-3 mb-3 ps-2">
            <button class="btn btn-primary" type="button" @onclick="TirerUneCarriereInitiale">
                <span class="oi oi-flash ms-2 me-1" aria-hidden="true"></span>
                Tirer une carrière initiale
            </button>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-7">
        <div class="section">
            <TableDeDepart RaceId="@Race.Id.ToString()" />
        </div>
    </div>

    @if (_carriereAleatoire != null)
    {
        <div class="col-5">
            <div class="section">
                <h3>@_carriereAleatoire.Nom</h3>
                <CarriereItem Item="_carriereAleatoire" />
                <CarriereDescription Item="_carriereAleatoire" />
            </div>
        </div>
    }
    else
    {
        <div class="col-5"></div>
    }
</div>
