@page "/table-carrieres-initiales/{RaceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Race

@inject RacesService RacesSvc
@inject TableDesCarrieresInitialesService TableDesCarrInitService
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string RaceId { get; set; } = null!;

    RaceDto Race = null!;
    RaceDto Culture = null!;
    IEnumerable<RaceDto> Cultures = ArraySegment<RaceDto>.Empty;
    CarriereDto? _carriereAleatoire;

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Table des carrières initiales");
    }

    protected override void OnParametersSet()
    {
        var idRaceSelectionnee = int.Parse(RaceId);
        
        // ToDo: déterminer si race ou culture en fonction du cacheCultures du service
        Race = RacesSvc.GetRace(idRaceSelectionnee);

        switch (idRaceSelectionnee)
        {
            case RacesService.IdHumains:
                Race = RacesSvc.Humains;
                Culture = RacesSvc.HumainsImperiaux;
                Cultures = new RaceDto[] { RacesSvc.HumainsImperiaux, RacesSvc.HumainsBretonniens, RacesSvc.HumainsGospodars, RacesSvc.HumainsUngols };
                break;
            case RacesService.IdElfes:
                Culture = RacesSvc.ElfesSylvains;
                Cultures = new RaceDto[] { RacesSvc.ElfesSylvains, RacesSvc.HautsElfes };
                break;
            default:
                Culture = Race;
                break;
        }
    }

    private void TirerUneCarriereInitiale()
    {
        _carriereAleatoire = TableDesCarrInitService.GetRandomStartingCareer(Race.Id);
    }
}
<div class="row">
    <div class="col-9">
        <SousMenu>
            @foreach (var race in new RaceDto[] { RacesSvc.Humains, RacesSvc.Halflings, RacesSvc.Nains, RacesSvc.Elfes, RacesSvc.Gnomes })
            {
                <a href="table-carrieres-initiales/@race.Id/" class="btn btn-sm @(Race.Id == race.Id ? "btn-primary" : "btn-secondary")">@race.NomMasculin</a>
            }            
        </SousMenu>
        @if (Cultures.Any())
        {
            <SousMenu>
                @foreach (var race in Cultures)
                {
                    <a href="table-carrieres-initiales/@race.Id/" class="btn btn-sm @(Culture.Id == race.Id ? "btn-primary" : "btn-secondary")">@race.NomMasculin</a>
                }
            </SousMenu>
        }
    </div>
    <div class="col-3">
        <div class="d-flex">
            <button class="btn btn-sm btn-primary mx-auto" type="button" @onclick="TirerUneCarriereInitiale">
                <span class="oi oi-flash ms-2 me-1" aria-hidden="true"></span>
                Tirer une carrière initiale
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="section">
            <TableDeDepart RaceId=@Race.Id />
        </div>
    </div>
    <div class="col-5">
        @if (_carriereAleatoire is not null)
        {
            <div class="section">
                <h3>@_carriereAleatoire.Nom</h3>
                <CarriereItem Item=@_carriereAleatoire />
                <CarriereDescription Item=@_carriereAleatoire />
            </div>
        }
    </div>
</div>
