@using BlazorWjdr.Models
<a href="/references/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <TooltipImage Path="@Item.Image" Alt="@Item.Titre">
        <span class="oi oi-book mr-1" aria-hidden="true"></span>
    </TooltipImage>
    @Item.Titre
    @if (Item.AnneeDePublication != null)
    {
        <em class="ml-2">@Item.AnneeDePublication</em>
    }
    <em class="ml-2">(v
@Item.Version)</em>
    @if (!string.IsNullOrWhiteSpace(Page))
    {
        <strong class="ml-2">@Page</strong>
    }
</a>
@code
{
    [Parameter]
    public ReferenceDto Item { get; set; } = null!;

    [Parameter]
    public string Page { get; set; } = null!;
}
