@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Lieu
@using BlazorWjdr.Models
@code {
    [Parameter]
    public SeanceDto Seance { get; set; } = null!;
}

<h5 class="card-title">@Seance.Quand - @Seance.Titre</h5>

<p class="card-text">
    @if (Seance.Lieux.Any())
    {
        <LieuItemList Items="@Seance.Lieux"/>
        <span class="oi oi-infinity item-icon mr-3" aria-hidden="true"></span>   
    }
    <span class="mr-3">Durée : @(Seance.Duree)h</span>
    <span class="oi oi-infinity item-icon mr-3" aria-hidden="true"></span>
    <span>@Seance.Xp xp</span>
    @if (!string.IsNullOrWhiteSpace(Seance.XpComment))
    {
        <em class="ml-2">@Seance.XpComment</em>
    }
</p>
<p class="card-text">
    <span class="mr-3">Aventuriers : </span>
    <BestioleItemList Items="@Seance.Pjs"/>
</p>
<CardParagraphes Text="@Seance.Resume"/>

<div class="p-3">
    <table class="table">
        <tbody>
        @foreach (var fact in Seance.Facts.OrderBy(f => f.Tri))
        {
            <SeanceFactRow Fact="@fact"/>
        }
        </tbody>
    </table>
</div>