@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Lieu
@using BlazorWjdr.Models
@code {
    [Parameter] public SeanceDto Item { get; set; } = null!;
    [Parameter] public int CampagneId { get; set; }
}

<p class="card-text">
    <span class="mr-3">Durée : @(Item.Duree)h</span>
    <span class="oi oi-infinity item-icon mr-3" aria-hidden="true"></span>
    <span>@Item.Xp xp</span>
    @if (!string.IsNullOrWhiteSpace(Item.XpComment))
    {
        <em class="ml-2">@Item.XpComment</em>
    }
</p>
<p class="card-text">
    <a class="mr-3" href="aventuriers/@CampagneId/@Item.Quand/" >Aventuriers : </a>
    <BestioleItemList Items="@Item.Pjs"/>
</p>
<CardParagraphes Text="@Item.Resume"/>

<div class="p-3">
    <table class="table">
        <tbody>
        @foreach (var fact in Item.Facts.OrderBy(f => f.Tri))
        {
            <SeanceFactRow Fact="@fact"/>
        }
        </tbody>
    </table>
</div>