@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Lieu
@using BlazorWjdr.Models
@code {
    [Parameter] public SeanceDto Item { get; set; } = null!;
    [Parameter] public int CampagneId { get; set; }
}
@if (Item.Debut != "")
{
<p class="card-text">
    <em class="insister">@Item.Debut</em>
</p>
}
<p class="card-text">
    @if (Item.Lieux.Any())
    {
        <span style="display:inline-block;">
            <LieuItemList Items="@Item.Lieux"/>
        </span>
        <ItemIcon Icon="infinity" Classes="mx-3"/>
    }
    <span class="mr-3">Durée : </span><span class="insister">@(Item.Duree)h</span>
    <ItemIcon Icon="infinity" Classes="mx-3"/>
    <span class="insister">@Item.Xp xp</span>
    @if (!string.IsNullOrWhiteSpace(Item.XpComment))
    {
        <em class="ml-2">@Item.XpComment</em>
    }
</p>
<p class="card-text">
    <a class="mr-3" href="maitre-du-jeu/@CampagneId/@Item.Quand/">Aventuriers : </a>
    <BestioleItemList Items="@Item.Pjs"/>
</p>
<CardParagraphes Text="@Item.Resume"/>

<div class="p-3">
    <table class="table">
        <tbody>
        @foreach (var fact in Item.Facts.OrderBy(f => f.Tri))
        {
            <SeanceFactRow Fact="@fact"/>
        }
        </tbody>
    </table>
</div>