@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Components.Lieu
@using BlazorWjdr.Components.Campagne
@using BlazorWjdr.Shared.Oi

@inject AppState AppState
@code{
    [Parameter, EditorRequired] public SeanceDto Item { get; set; } = null!;
    [Parameter] public int CampagneId { get; set; }
    
    bool AfficherFiche { get; set; }
}
<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn me-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <OiIcon Icon="eye"/>
        </span>
    </td>
    <td class="px-2">@Item.Quand</td>
    <td class="px-2"><span class="insister">@Item.Titre</span></td>
    <td class="px-2">
        @if (Item.Scenario != null && AppState.JeSuisDieu)
        {
            <a href="@Item.Scenario.Lien">@Item.Scenario.Nom</a>
        }
    </td>
    <td class="px-2 text-center">@(Item.Duree)h</td>
    <td class="px-2 text-center">@(Item.Xp) xp</td>
    <td class="px-2">
        @if (Item.Lieux.Any())
        {
            <LieuItemList Items=@Item.Lieux />
        }
    </td>
    <td class="px-2">
        <a class="me-3" href="maitre-du-jeu/@CampagneId/@Item.Quand/" >Aventuriers</a>
    </td>
</tr>
@if (AfficherFiche)
{
    <tr>
        <td colspan="7" class="p-3">
            <div class="bulle shadow-sm">
                <SeanceDetail Item=@Item CampagneId=@CampagneId />
            </div>
        </td>
    </tr>
}