@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Lieu

@code {
    [Parameter, EditorRequired] public SeanceDto Item { get; set; } = null!;
    [Parameter] public int CampagneId { get; set; }
    [Parameter] public bool MasquerAventuriers { get; set; }
}
@if (Item.Debut != "")
{
<p class="text-justify">
    <em class="insister">@Item.Debut</em>
</p>
}
<p class="text-justify">
    @if (Item.Lieux.Any())
    {
        <span style="display:inline-block;">
            <LieuItemList Items=@Item.Lieux />
        </span>
        <ItemIcon Icon="infinity" Classes="mx-3"/>
    }
    <span>Durée : </span><span class="insister">@(Item.Duree)h</span>
    <ItemIcon Icon="infinity" Classes="mx-3"/>
    <span class="insister">@Item.Xp xp</span>
    @if (!string.IsNullOrWhiteSpace(Item.XpComment))
    {
        <em class="ms-2">@Item.XpComment</em>
    }
</p>
@if (MasquerAventuriers == false)
{
    <p class="text-justify">
        <a class="me-3" href="maitre-du-jeu/@CampagneId/@Item.Quand/">Aventuriers : </a>
        <BestioleItemList Items="@Item.Pjs"/>
    </p>
}
<CardParagraphes Text=@Item.Resume />

<div class="p-3">
    <table>
        <tbody>
        @foreach (var fact in Item.Facts.OrderBy(f => f.Tri))
        {
            <SeanceFactRow Fact=@fact />
        }
        </tbody>
    </table>
</div>