@using CharHammer.Components.Arme

<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn me-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <OiIcon Icon="eye"/>
        </span>
        @Item.Nom
    </td>
    <td>@Item.Type</td>
    <td>@Item.Pa</td>
    <td>@Item.Zones</td>
    <td>@Item.Enc</td>
    <td>
        <AttributDArmeItemList Items="@Item.Attributs"/>
    </td>
    <td>@Item.Prix</td>
    <td>@Item.Disponibilite</td>
</tr>
@if (AfficherFiche)
{
    <tr>
        <td colspan="7">
            <div class="bulle shadow-sm p-3 mb-2">
                @Item.Description
            </div>
        </td>
    </tr>
}
@code {
    [Parameter, EditorRequired] public ArmureDto Item { get; set; } = null!;
    
    private bool AfficherFiche { get; set; }
}