@page "/personnages/{CreatureId}/"

@using CharHammer.Components.Bestiole
@using CharHammer.Components.Lieu

@inject BestiolesService Service
@inject CampagnesService CampagnesService
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string CreatureId { get; set; } = null!;

    private BestioleDto? Item { get; set; }

    protected override void OnParametersSet()
    {
        Item = Service.GetBestiole(int.Parse(CreatureId));
        AppState.SetMainTopRowTitle("Créé le " + Item.DateDeCreation);
    }
}
<div class="row pt-2">
    <div class="col-8">
        <div class="py-2">
            <img alt="Portrait de @Item!.Nom" class="float-end" style="max-width:45%; max-height:450px;" src="images/beasts/@(Item.Id).png" />
            <h1>@Item!.Nom</h1>
            @if (Item.Origines.Any())
            {
                <em>Origines :&nbsp;</em>
                @foreach (var lieu in Item.Origines)
                {
                    <LieuComplet Item=@lieu />
                }
            }
            @if (Item.Sexe.HasValue)
            {
                <em>Genre :&nbsp;</em>

                <span class="me-3">@(Item.Sexe == 1 ? "féminin" : "masculin")</span>
            }
            <em>Age :&nbsp;</em><span>@Item.Age ans</span>
            @if (Item.EstUnPersonnageJoueur)
            {
                <br />
                <em>Expérience :&nbsp;</em>

                <span class="insister">@Item.XpTotal xp</span>
                <em class="ms-2">(actuelle :&nbsp;</em>

                <span>@Item.XpActuel xp)</span>
            }
        </div>
        <div class="py-2">
            <h5>Carrières & Profil</h5>
            <BestioleProfil Item=@Item NAfficherQueLeProfilActuel=@Item.EstUnPersonnageNonJoueur />
            <BestioleBlessMouvProt Item=@Item />
        </div>
        <div class="py-2">
            <h5>Aptitudes</h5>
            <AptitudesAcquises Item=@Item MasquerTitres=true AfficherBonusDeCompetence=true />
        </div>
        <div class="pt-3">
            <BestioleFicheMatosSorts Item=@Item />
        </div>
    </div>

    <div class="col-4">
        @if (Item.Description != "")
        {
            <div class="py-2">
                <h3>Description</h3>
                <CardParagraphes Text=@Item.Description />
            </div>
        }
        @if (Item.Psychologie != "")
        {
            <div class="py-2">
                <h3>Psychologie</h3>
                <CardParagraphes Text=@Item.Psychologie />
            </div>
        }
        @if (Item.Histoire != "")
        {
            <div class="py-2">
                <h3>Histoire</h3>
                <CardParagraphes Text=@Item.Histoire />
            </div>
        }
        @if (Item.Ambitions.Any())
        {
            <div class="py-2">
                <h3>Ambitions</h3>
                <ul>
                    @foreach (var ambition in Item.Ambitions)
                    {
                        <li>@ambition</li>
                    }
                </ul>
            </div>
        }
        @if (Item.Notes != "")
        {
            <div class="py-2">
                <h3>Commentaires</h3>
                <CardParagraphes Text=@Item.Notes />
            </div>
        }
        <div class="section">
            <div class="d-inline-block">
                <h5>Apparence</h5>
                <PersoApparence Item=@Item />
            </div>
            <div class="d-inline-block">
                <h5>Famille</h5>
                <PersoFamille Item=@Item />
            </div>
        </div>
    </div>
</div>
@if (Item.EstUnPersonnage)
{
    <PageSectionDivider />

    <div class="row">
        <div class="col-8">
            @foreach (var campagne in CampagnesService.CampagnesAuxquellesAParticipe(Item))
            {
                <h3>Historique de Campagne - @campagne.Titre</h3>
                <div class="section">
                    <HistoriqueDeCampagne Campagne=@campagne Pj=@Item />
                </div>
            }
        </div>
    </div>
}
