@page "/univers/race/{Race}/"

@using CharHammer.Components.Aptitude

@inject RacesService Service
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string Race { get; set; } = null!;

    RaceDto? _race;
    string _autochtones = "";
    IEnumerable<AptitudeDto>? _aptitudesInnees;

    protected override void OnParametersSet()
    {
        _race = Race switch
        {
            "humains" => Service.Humains,
            "halflings" => Service.Halflings,
            "nains" => Service.Nains,
            "gnomes" => Service.Gnomes,
            "elfes-sylvains" => Service.ElfesSylvains,
            "hauts-elfes" => Service.HautsElfes,
            _ => _race
        };

        _aptitudesInnees = _race == Service.Humains ? Service.HumainsImperiaux.Aptitudes : _race!.Aptitudes;

        @for (var i = 0; i < _race!.Autochtones.Length; i++)
        {
            _autochtones += _race.Autochtones[i];
            if (i == 0)
                _autochtones = _autochtones.ToUpper();
        }

        AppState.SetMainTopRowTitle("Les " + _autochtones);
    }
}
<div class="row">

    <div class="col">
        <div class="section">
            <h3>Les @_autochtones</h3>
            <CardParagraphes Text=@_race!.Description />
        </div>
        <div class="section">
            <h5>Aptitudes innées</h5>
            <p class="text-justify">
                Les personnages @_autochtones disposent tous des aptitudes suivantes :
            </p>
            <AptitudeItemList Items=@_aptitudesInnees />
        </div>
    </div>
    <div class="col">
        <div class="section">
            <h3 class="mb-3">Ce qu'ils pensent des autres...</h3>
            @foreach (var opinion in _race.Opinions)
            {
                @if (opinion.Race is not null)
                {
                    <h5>Concernant les @opinion.Race.Autochtones</h5>
                }
                <p class="text-justify">@opinion.Ambiance</p>
            }
        </div>
    </div>
    <div class="col">
        <div class="section">
            <h3 class="mb-3">Ce que les autres pensent d'eux...</h3>
            @foreach (var race in Service.AllRaces.Where(r => r.Opinions.Any(o => o.Race == _race)))
            {
                @foreach (var opinion in race.Opinions.Where(o => o.Race == _race))
                {
                    @if (opinion.Race is not null)
                    {
                        <h5>Selon les @race.Autochtones</h5>
                    }
                    <p class="text-justify">@opinion.Ambiance</p>
                }
            }
        </div>
    </div>
</div>
