@using BlazorWjdr.Components.Regle
@using BlazorWjdr.Components.Aptitude

@inject AptitudesService _aptSvc

<div class="row">
    <div class="col-12">
        <div class="card-body">
            <h3 class="card-title">Les Huit Domaines</h3>
            <p class="card-text">
                Chacun des huit vents de la magie a une connaissance associée, un corps de sorts et de savoirs que ses adeptes utilisent. Chacun
                des huit collèges de magie est dédié à l'étude d'une seule Connaissances, et leurs bâtiments sont construits de manière à
                focaliser leur vent pour faciliter un enseignement relativement sûr.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition de la Lumière" Aptitude="@_aptSvc.TalentMagieArcaniqueLumiere" Image="images/magie/lumiere.png">
            <p class="card-text">
                La Connaissance de la Lumière se rapporte à <strong>Hysh</strong>, le vent blanc. Hysh est considéré comme le Vent le plus difficile à percevoir et à manipuler, semblant
                diffus même à ceux qui ont de l'expérience avec la vue. Cela le rend difficile à manipuler mais moins imprévisible que les autres vents. Hysh est associé
                à la patience, l'intelligence et la pureté. Les Hiérophantes de l'Ordre de Lumière sont reconnus pour leur discipline, leurs connaissances et leur
                opposition dévouée au Chaos.
            </p>
            <p class="card-text">
                Les sorts des Traditions de Lumière sont parmi les plus puissants, y compris les rayons perçants de lumière aveuglante, et ceux qui bannissent les Démons
                et les Morts-Vivants du plan mortel. Il y a aussi des applications plus douces de Hysh utilisées pour guérir des camarades ou clarifier la pensée.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition du Métal" Aptitude="@_aptSvc.TalentMagieArcaniqueMetal" Image="images/magie/metal.png">
            <p class="card-text">
                L'histoire du Métal se rapporte à celui de <strong>Chamon</strong>, vent d'orée. Chamon semble dense et lourd à la seconde vue s'enfonçant dans la terre et s'unissant
                à l'intérieur des métaux denses comme le plomb et l'or. Les alchimistes de l'Ordre de l'Or ont la réputation d'être exceptionnellement prosaïques dans
                leurs attitudes envers les sorciers, et beaucoup sont aussi intéressés à apprendre les faits de la physique et de la chimie qu'ils le sont dans
                le fonctionnement de la magie.
            </p>
            <p class="card-text">
                Les sorts du Métal impliquent souvent la transmutation ou l'altération du métal. Sur le champ de bataille, les alchimistes sont connus pour faire rouiller
                ou fondre les armures d'acier et les armes fines, pour alourdir leurs ennemis d'une armure soudainement dense ou pour enchanter les armes de leurs alliés
                d'une puissance étrange.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition de la Vie" Aptitude="@_aptSvc.TalentMagieArcaniqueVie" Image="images/magie/vie.png">
            <p class="card-text">
                La Tradition de la Vie se rapportent à <strong>Ghyran</strong>, le vent de jade. Le Ghyran un flux libre est associé à la croissance, à la fertilité et à l'alimentation.
                Ghyran ressemble beaucoup à une pluie légère, tombant sur le sol et s'accumulant en spirales de remous. Il s'enfonce dans le sol et est aspiré dans
                les racines des plantes d'où il nourrit ensuite tout ce qui vit. Les druides de l'ordre de Jade préfèrent souvent vivre loin des villes, en harmonie
                avec les saisons et le monde naturel.
            </p>
            <p class="card-text">
                Les sorts des Traditions de la vie impliquent généralement la guérison et le rajeunissement, depuis la guérison des blessures jusqu'à la création
                d'un champ sans vie débordant d'énergie. Ils peuvent aussi avoir des applications offensives. Les ennemis d'un druide peuvent se retrouver soudainement
                emmêlés dans des ronces et des vignes d'une cruauté impitoyable.
            </p>
        </RegleSorcellerieDomaine>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition des Ombres" Aptitude="@_aptSvc.TalentMagieArcaniqueOmbres" Image="images/magie/ombres.png">
            <p class="card-text">
                Les rayons de l'Ombre se rapportent à <strong>Ulgu</strong>, le vent gris. Pour la Seconde Vue, il apparaît en un épais brouillard, se rassemblant dans des flaques
                partout où l'intrigue et la tromperie existent se transforment en grandes tempêtes et ce déchaînent quand le conflit éclatent.
                Les Magistrats de l'Ordre des Gardiens Gris, connus sous le nom de Gardiens Gris, sont secrets dans leurs façons de faire et font preuve d'une loyauté
                incertaine. Malgré cela, l'Ordre gris est reconnu pour sa sagesse et son habileté dans les négociations, et il est souvent sollicité
                pour des missions diplomatiques.
            </p>
            <p class="card-text">
                Les sorts de la Tradition des Ombres peuvent être utilisés pour masquer ou obscurcir, confondre et désorienter leurs ennemis.
                Au combat, les vrilles sombres et peu substantielles d'Ulgu qu'ils manient peuvent percer le cœur de leurs ennemis, éviscérant les
                troupes les mieux protégées, tout en laissant leur armure étrangement intacte.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition de la Mort" Aptitude="@_aptSvc.TalentMagieArcaniqueMort" Image="images/magie/mort.png">
            <p class="card-text">
                La Tradition de la Mort se rapporte à <strong>Shyish</strong>, le vent pourpre. Elle est attirée par les lieux de mort, tels que les champs de bataille,
                les jardins de Morr, et les sites de d'exécution. On dit que le vent souffle le plus fort pendant les périodes de transition, de sorte
                que les sorciers de l'Ordre de l'Améthyste ont tendance à travailler leurs plus grands rites au crépuscule avant l'aube, ou au coucher
                du soleil. Bien que le Shyish soit lié au temps et à la mortalité, il se distingue du la Nécromancie, la pratique illégale de ressusciter
                et liant la mort, qui utilise la magie noire du Dhar au lieu du Shyish. En effet, l'Ordre de l'Améthyste, tout comme le Culte de Morr,
                travaille sans relâche pour combattre la menace de la nécromancie.
            </p>
            <p class="card-text">
                Néanmoins, les sorts des Traditions de la mort ressemblent à Nécromancie pour l'œil non entraîné. Ils peuvent vider leurs cibles de leur
                force vitale, répandre la peur parmi leurs ennemis et contacter les esprits des défunts.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition du Feu" Aptitude="@_aptSvc.TalentMagieArcaniqueFeu" Image="images/magie/feu.png">
            <p class="card-text">
                La tradition du Feu se rapporte à Aqshy, le vent rouge. <strong>Aqshy</strong> est un vent chaud et torride associé à l'audace,
                courage et zèle et est attiré par l'empirisme et la chaleur. Les Pyromanciens de l'Ordre Lumineux sont audacieux
                chaleureux, tempéré et font des Magistrats de Bataille impressionnants et destructeurs.
            </p>
            <p class="card-text">
                Beaucoup des sorts des Traditions du Feu sont de nature offensive, permettant au lanceur d'invoquer de grandes boules de feu, ou que
                les lames de leurs alliés s'enflamment. Même leurs sorts non offensive, comme la magie curative brute, sont encore de nature destructrice.
            </p>
            <p class="card-text">
                Les sorciers brillants sont également doués pour inspirer leurs alliés, rallier leur courage et inspirer la bravoure et la loyauté
                dans les troupes avec lesquelles ils servent.
            </p>
        </RegleSorcellerieDomaine>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition des Bêtes" Aptitude="@_aptSvc.TalentMagieArcaniqueBete" Image="images/magie/betes.png">
            <p class="card-text">
                La Tradition des Bêtes se rapporte au <strong>Ghur</strong>, le vent ambré, une force froide et primitive associée aux bêtes sauvages et aux êtres sauvages
                qui y vivent. À ceux avec la Seconde Vue, Ghur semble souffler faiblement dans les régions où la nature sauvage a été apprivoisée et où des
                colonies ont été construites. Cela peut expliquer pourquoi les chamans de l'Ordre de l'Ambre prennent souvent une existence hermitique et évitent leurs semblables.
            </p>
            <p class="card-text">
                Les sorts des Traditions des Bêtes permettent à un chaman de communiquer avec les animaux, de demander leur aide, et même de les appeler au combat.
                Le sorcier peut également utiliser la magie du changement de forme pour adopter des formes animales.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition des Cieux" Aptitude="@_aptSvc.TalentMagieArcaniqueCieux" Image="images/magie/cieux.png">
            <p class="card-text">
                La Tradition des Cieux se rapporte à <strong>Azyr</strong>, le vent bleu. Elle cascade dans les cieux au-dessus de l'Ancien Monde, crépitant à travers les cieux,
                comme un grand nuage chargé. Les astromanciens de l'Ordre céleste, connus pour leurs manières calmes et contemplatives, utilisent le vent
                pour scruter l'avenir, l'objectif d'Azyr influençant ce qu'ils peuvent voir dans les étoiles...
            </p>
            <p class="card-text">
                Les sorts des Cieux sont la manipulation du destin, la levée des obstacles de protection ou la malchance contre nature de l'ennemi
                qui a une vague d'ennemis. Sur le champ de bataille, les Astromanciens contrôlent également les forces élémentaires, faisant exploser
                leurs ennemis avec des éclairs, ou même attirant des étoiles filantes du ciel.
            </p>
        </RegleSorcellerieDomaine>
    </div>
</div>