@inject ReglesService ReglesSvc

<div class="row px-4 mt-3">
    <div class="col-12">
        <button type="button" @onclick="@((e) => Selectionner(e, "Bretonnie"))" class="btn @(ProvinceActive == "Bretonnie" ? "btn-primary" : "btn-secondary")">
            Bretonnien
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Empire"))" class="btn @(ProvinceActive == "Empire" ? "btn-primary" : "btn-secondary")">
            Impérial
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Kislev"))" class="btn @(ProvinceActive == "Kislev" ? "btn-primary" : "btn-secondary")">
            Kislevite
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Norsca"))" class="btn @(ProvinceActive == "Norsca" ? "btn-primary" : "btn-secondary")">
            Norsca
        </button>
    </div>
</div>
<div class="row px-4 mt-2">
    <div class="col-12 ps-1">
        @if (_empireProvinces.Contains(ProvinceActive))
        {
            <button type="button" @onclick="@((e) => Selectionner(e, "Averland"))" class="me-1 btn btn-sm @(ProvinceActive == "Averland" ? "btn-primary" : "btn-secondary")">
                Averland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Hochland"))" class="me-1 btn btn-sm @(ProvinceActive == "Hochland" ? "btn-primary" : "btn-secondary")">
                Hochland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Middenland"))" class="me-1 btn btn-sm @(ProvinceActive == "Middenland" ? "btn-primary" : "btn-secondary")">
                Middenland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Nordland"))" class="me-1 btn btn-sm @(ProvinceActive == "Nordland" ? "btn-primary" : "btn-secondary")">
                Nordland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Ostermark"))" class="me-1 btn btn-sm @(ProvinceActive == "Ostermark" ? "btn-primary" : "btn-secondary")">
                Ostermark
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Ostland"))" class="me-1 btn btn-sm @(ProvinceActive == "Ostland" ? "btn-primary" : "btn-secondary")">
                Ostland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Reikland"))" class="me-1 btn btn-sm @(ProvinceActive == "Reikland" ? "btn-primary" : "btn-secondary")">
                Reikland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Stirland"))" class="me-1 btn btn-sm @(ProvinceActive == "Stirland" ? "btn-primary" : "btn-secondary")">
                Stirland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Talabecland"))" class="me-1 btn btn-sm @(ProvinceActive == "Talabecland" ? "btn-primary" : "btn-secondary")">
                Talabecland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Wissenland"))" class="me-1 btn btn-sm @(ProvinceActive == "Wissenland" ? "btn-primary" : "btn-secondary")">
                Wissenland
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Sylvanie"))" class="me-1 ms-4 btn btn-sm @(ProvinceActive == "Sylvanie" ? "btn-primary" : "btn-secondary")">
                Sylvanie
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Strigany"))" class="me-1 ms-4 btn btn-sm @(ProvinceActive == "Strigany" ? "btn-primary" : "btn-secondary")">
                Strigany
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Mutant"))" class="me-1 ms-4 btn btn-sm @(ProvinceActive == "Mutant" ? "btn-primary" : "btn-secondary")">
                Mutant
            </button>
        }
        else if (_bretonnieDuches.Contains(ProvinceActive))
        {
            <button type="button" @onclick="@((e) => Selectionner(e, "L'Anguille"))" class="me-1 btn btn-sm @(ProvinceActive == "L'Anguille" ? "btn-primary" : "btn-secondary")">
                L'Anguille
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Aquitanie"))" class="me-1 btn btn-sm @(ProvinceActive == "Aquitanie" ? "btn-primary" : "btn-secondary")">
                Aquitanie
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Artenois"))" class="me-1 btn btn-sm @(ProvinceActive == "Artenois" ? "btn-primary" : "btn-secondary")">
                Artenois
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Bastogne"))" class="me-1 btn btn-sm @(ProvinceActive == "Bastogne" ? "btn-primary" : "btn-secondary")">
                Bastogne
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Bordeleaux"))" class="me-1 btn btn-sm @(ProvinceActive == "Bordeleaux" ? "btn-primary" : "btn-secondary")">
                Bordeleaux
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Brionne"))" class="me-1 btn btn-sm @(ProvinceActive == "Brionne" ? "btn-primary" : "btn-secondary")">
                Brionne
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Couronne"))" class="me-1 btn btn-sm @(ProvinceActive == "Couronne" ? "btn-primary" : "btn-secondary")">
                Couronne
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Gasconnie"))" class="me-1 btn btn-sm @(ProvinceActive == "Gasconnie" ? "btn-primary" : "btn-secondary")">
                Gasconnie
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Gisoreux"))" class="me-1 btn btn-sm @(ProvinceActive == "Gisoreux" ? "btn-primary" : "btn-secondary")">
                Gisoreux
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Lyonesse"))" class="me-1 btn btn-sm @(ProvinceActive == "Lyonesse" ? "btn-primary" : "btn-secondary")">
                Lyonesse
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Monfort"))" class="me-1 btn btn-sm @(ProvinceActive == "Monfort" ? "btn-primary" : "btn-secondary")">
                Monfort
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Mousillon"))" class="me-1 btn btn-sm @(ProvinceActive == "Mousillon" ? "btn-primary" : "btn-secondary")">
                Mousillon
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Parravon"))" class="me-1 btn btn-sm @(ProvinceActive == "Parravon" ? "btn-primary" : "btn-secondary")">
                Parravon
            </button>
            <button type="button" @onclick="@((e) => Selectionner(e, "Quenelles"))" class="me-1 btn btn-sm @(ProvinceActive == "Quenelles" ? "btn-primary" : "btn-secondary")">
                Quenelles
            </button>
        }
        else if (ProvinceActive == "Kislev")
        {
        }
        else if (ProvinceActive == "Norsca")
        {
        }
    </div>
</div>
<div class="row px-4 mt-2">
    <div class="col-12">
        <div class="section">
            <div class="bulle shadow-sm px-4">
                <RegleDetail Item=@ReglesSvc.GetRegle(_regleId) />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string ProvinceActive { get; set; } = "Empire";

    private int _regleId;

    private List<string> _empireProvinces = new() {"Empire","Averland","Hochland","Middenland","Nordland","Ostermark","Ostland","Reikland","Stirland","Talabecland","Wissenland","Sylvanie","Strigany","Mutant"};
    private List<string> _bretonnieDuches = new() {"Bretonnie","L'Anguille","Aquitanie","Artenois","Bastogne","Bordeleaux","Brionne","Couronne","Gasconnie","Gisoreux","Lyonesse","Monfort","Mousillon","Parravon","Quenelles"};

    protected override void OnParametersSet()
    {
        _regleId = ProvinceActive switch
        {
            "Empire" => 19,
            "Averland" => 60,
            "Hochland" => 61,
            "Middenland" => 62,
            "Nordland" => 63,
            "Ostermark" => 64,
            "Ostland" => 65,
            "Reikland" => 66,
            "Stirland" => 67,
            "Talabecland" => 68,
            "Wissenland" => 69,
            
            "Sylvanie" => 85,
            "Strigany" => 86,
            "Mutant" => 21,
            
            "Bretonnie" => 70,
            "L'Anguille" => 71,
            "Aquitanie" => 72,
            "Artenois" => 73,
            "Bastogne" => 74,
            "Bordeleaux" => 75,
            "Brionne" => 76,
            "Couronne" => 77,
            "Gasconnie" => 78,
            "Gisoreux" => 79,
            "Lyonesse" => 80,
            "Monfort" => 81,
            "Mousillon" => 82,
            "Parravon" => 83,
            "Quenelles" => 84,
            _ => _regleId
        };
    }

    private void Selectionner(MouseEventArgs mouseEventArgs, string province)
    {
        ProvinceActive = province;
        OnParametersSet();
    }
}