@using BlazorWjdr.Services

@inject ReglesService _reglesService

<div class="row px-4 mt-3">
    <div class="col-3">
        <button type="button" @onclick="@((e) => Selectionner(e, "Empire"))" class="btn btn-sm @(ProvinceActive == "Empire" ? "btn-primary" : "btn-secondary")">
            Empire
        </button>
    </div>
    
    <div class="col-9 pl-1">
        <button type="button" @onclick="@((e) => Selectionner(e, "Averland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Averland" ? "btn-primary" : "btn-secondary")">
            Averland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Hochland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Hochland" ? "btn-primary" : "btn-secondary")">
            Hochland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Middenland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Middenland" ? "btn-primary" : "btn-secondary")">
            Middenland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Nordland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Nordland" ? "btn-primary" : "btn-secondary")">
            Nordland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Ostermark"))" class="mr-1 btn btn-sm @(ProvinceActive == "Ostermark" ? "btn-primary" : "btn-secondary")">
            Ostermark
        </button>
    </div>
</div>
<div class="row px-4 mt-2">
    <div class="col-3">
        <button type="button" @onclick="@((e) => Selectionner(e, "Mutant"))" class="btn btn-sm @(ProvinceActive == "Mutant" ? "btn-primary" : "btn-secondary")">
            Mutant
        </button>
    </div>
    <div class="col-9 pl-1">
        <button type="button" @onclick="@((e) => Selectionner(e, "Ostland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Ostland" ? "btn-primary" : "btn-secondary")">
            Ostland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Reikland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Reikland" ? "btn-primary" : "btn-secondary")">
            Reikland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Stirland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Stirland" ? "btn-primary" : "btn-secondary")">
            Stirland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Talabecland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Talabecland" ? "btn-primary" : "btn-secondary")">
            Talabecland
        </button>
        <button type="button" @onclick="@((e) => Selectionner(e, "Wissenland"))" class="mr-1 btn btn-sm @(ProvinceActive == "Wissenland" ? "btn-primary" : "btn-secondary")">
            Wissenland
        </button>
    </div>
</div>
<div class="card-body" style="height: 370px">
    <div class="bulle px-4">
        <RegleDetail Item="@_reglesService.GetRegle(_regleId)"></RegleDetail>
    </div>
</div>

@code {
    [Parameter]
    public string ProvinceActive { get; set; } = "Empire";

    private int _regleId;

    protected override void OnParametersSet()
    {
        _regleId = ProvinceActive switch
        {
            "Empire" => 19,
            "Mutant" => 21,
            "Averland" => 60,
            "Hochland" => 61,
            "Middenland" => 62,
            "Nordland" => 63,
            "Ostermark" => 64,
            "Ostland" => 65,
            "Reikland" => 66,
            "Stirland" => 67,
            "Talabecland" => 68,
            "Wissenland" => 69,
            _ => _regleId
        };
        base.OnParametersSet();
    }

    private void Selectionner(MouseEventArgs mouseEventArgs, string province)
    {
        ProvinceActive = province;
        OnParametersSet();
        //InvokeAsync(StateHasChanged);
    }
}