@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Models

<div class="card-body">
    @if (!string.IsNullOrWhiteSpace(Titre))
    {
        <h4 class="card-title">@Titre</h4>
    }
    @if (Aptitude != null)
    {
        <AptitudeItem Item="@Aptitude"/>
    }
    @if (!string.IsNullOrWhiteSpace(Image))
    {
        <img class="career-img" src="@Image" alt="@Titre" style="@_imageStyle"/>
    }
    @ChildContent
</div>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public string Titre { get; set; } = null!;
    [Parameter] public string Image { get; set; } = null!;
    [Parameter] public int ImageMaxWidth { get; set; } = 250;
    [Parameter] public int ImageMaxHeight { get; set; } = 350;
    [Parameter] public AptitudeDto? Aptitude { get; set; }

    private string _imageStyle;
    
    protected override void OnParametersSet()
    {
        _imageStyle = $"max-width: {ImageMaxWidth}px; max-height: {ImageMaxHeight}px;";
        base.OnParametersSet();
    }

}