@page "/equipement/armures/{Groupe}/"

@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Equipement
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject ArmesService _armesService
@inject AptitudesService _aptitudesService

<MainTopRow Title="Armures et Vêtements">
    <span style="margin-left: 160px;">
        <a style="width:120px; margin-top:-10px;" href="equipement/armures/toutes/" class="mr-2 btn btn-sm @(Groupe == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armures/legeres/" class="mr-2 btn btn-sm @(Groupe == "legeres" ? "btn-primary" : "btn-secondary")">Légères</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armures/moyennes/" class="mr-2 btn btn-sm @(Groupe == "moyennes" ? "btn-primary" : "btn-secondary")">Moyennes</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armures/lourdes/" class="mr-2 btn btn-sm @(Groupe == "lourdes" ? "btn-primary" : "btn-secondary")">Lourdes</a>
    </span>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        <div class="col-4">
            <h3 class="card-title">Endommager une Armure</h3>
            <p class="card-text">
                Votre armure peut généralement être endommagée dans les situations suivantes :
            </p>
            <ul>
                <li>Vous êtes blessé par un arme disposant de l'attribut <AttributDArmeItem Item="@_armesService.AttributFracassant" />.</li>
                <li>Une aptitude spéciale déclenche, comme un sort ou un talent, qui endommage une pièce d'armure.</li>
                <li>Une Blessure Critique est déviée par votre armure.</li>
            </ul>
            <p class="card-text">
                Chaque fois que votre armure est endommagée, les PA de la zone touchée sont réduits de 1.
                <br />
                Si cela réduit les PA à 0, l'armure qui s'y trouve devient inutile.
            </p>
        </div>

        <div class="col-4">
            <h5 class="card-title">Déviation Critique</h5>
            <p class="card-text">
                Cela ne se produit que si vous le souhaitez. Si vous subissez une Blessure Critique suite à une attaque infligée sur un emplacement protégé par une armure,
                vous pouvez choisir de laisser votre armure être endommagée de 1AP afin d'ignorer cette Blessure Critique.
            </p>
            <p class="card-text">
                Vous souffrez toujours de toutes les Blessures normales (et étant donné que vos PA sont de 1 point inférieurs, vous souffrez probablement d'une Blessure
                supplémentaire), mais vous évitez les effets des Blessures critiques car le coup est absorbé par votre armure qui est maintenant endommagée.
            </p>
        </div>

        <div class="col-4">
            <h3 class="card-title">Réparer une Armure</h3>
            <p class="card-text">
                Il coûte 10% du prix de base de l'armure par PA perdu pour le réparer. Donc, si vous aviez un manteau de cotte de mailles à
                manches avec 1PA de dommages sur le corps et 1PA de dommages sur les bras, il vous en coûtera 20% du coût de base
                de votre armure pour le réparer, dans ce cas 12/-. Si une section de votre armure est complètement brisée, il vous en coûtera 30%
                du coût de base de l'armure à réparer, et vous devrez probablement attendre un certain temps avant qu'elle soit
                terminée.
            </p>
            <p class="card-text">
                Vous pouvez également réparer votre propre armure si vous possédez les Compétences Métier appropriées, les outils et,
                pour l'armure de plate, un atelier.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            @if (AfficherArmuresLegeres && Armures.Any(a => a.TypeLegere))
            {
                <h5 class="card-title">Armures Légères</h5>
                <TableArmures Items="Armures.Where(a => a.TypeLegere).ToArray()" />
            }
            @if (AfficherArmuresMoyennes && Armures.Any(a => a.TypeMoyenne))
            {
                <h5 class="card-title">Armures Moyennes</h5>
                <TableArmures Items="Armures.Where(a => a.TypeMoyenne).ToArray()" />
            }
            @if (AfficherArmuresLourdes && Armures.Any(a => a.TypeLourde))
            {
                <h5 class="card-title">Armures Lourdes</h5>
                <TableArmures Items="Armures.Where(a => a.TypeLourde).ToArray()" />
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Groupe { get; set; } = "";

    private IEnumerable<ArmureDto> Armures => _armesService.AllArmures;

    private bool AfficherArmuresLegeres => Groupe == "toutes" || Groupe == "legeres";
    private bool AfficherArmuresMoyennes => Groupe == "toutes" || Groupe == "moyennes";
    private bool AfficherArmuresLourdes => Groupe == "toutes" || Groupe == "lourdes";
}