@page "/guide-du-consommateur/{Groupe}/"

@using BlazorWjdr.Components.Equipement
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject ArmesService _armesService
@inject AptitudesService _aptitudesService

<MainTopRow>
    <h3 class="card-title" style="display:inline-block;">Guide du Consommateur</h3>
</MainTopRow>

<div class="content px-4">

    <div class="ml-3 mb-3 pl-2">
        <div class="row">
            <div class="col-5">
                <a style="width:120px;" href="guide-du-consommateur/tout/" class="mr-5 btn btn-sm @(Groupe == "toutes" ? "btn-primary" : "btn-secondary")">Tout</a>
                @foreach (var grp in _allGroupes)
                {
                    <a style="width:120px;" href="guide-du-consommateur/@grp/" class="mr-2 btn btn-sm @(Groupe == grp ? "btn-primary" : "btn-secondary")">@grp</a>
                }
            </div>
        </div>
    </div>

    <div class="ml-3 mb-3 pl-2">
        @foreach (var grp in _showGroupes)
        {
         <div class="row">
             <div class="col-5">
                 <h3 class="card-title">@grp</h3>
                 <TableEquipements Items="@GetEquipement(grp)"/>
             </div>
        </div>
        }
    </div>
    
</div>
@code {
    [Parameter] public string Groupe { get; set; } = "";

    private List<string> _allGroupes = null!;
    private List<string> _showGroupes = null!;

    private EquipementDto[] GetEquipement(string groupe) => _armesService.AllEquipements
        .Where(e => e.Groupes.Any(g => GenericService.ConvertirCaracteres(g) == groupe))
        .OrderBy(e => e.Nom).ToArray();

    protected override void OnParametersSet()
    {
        _allGroupes = _armesService.AllEquipements.SelectMany(e => e.Groupes).Distinct().OrderBy(g => g).ToList();
        _showGroupes = Groupe == "tout" ? _allGroupes : new List<string> { Groupe };
        
        base.OnParametersSet();
    }
}