@page "/lieux/{Reference}/"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Lieu

@inject LieuxService _lieuxService
@code {
    [Parameter] public string Reference { get; set; } = "monde";

    private List<LieuDto> _lines = null!;

    protected override void OnParametersSet()
    {
        if (Reference == "vieux-monde")
            _lines = _lieuxService.AllLieux.Where(l => l.ParentId == 1).ToList();
        else if (Reference == "empire")
            _lines = _lieuxService.AllLieux.Where(l => l.ParentId == 2).ToList();
        else if (Reference == "bretonnie")
            _lines = _lieuxService.AllLieux.Where(l => l.ParentId == 4).ToList();
        else
            _lines = _lieuxService.AllLieux.Where(l => l.ParentsCount == 1).ToList();
        
        base.OnParametersSet();
    }
}

<MainTopRow Title="Lieux">
    <span style="margin-left: 160px;">
        <a style="width:120px; margin-top:-10px;" href="lieux/monde/" class="mr-2 btn btn-sm @(Reference == "monde" ? "btn-primary" : "btn-secondary")">Monde</a>
        <a style="width:120px; margin-top:-10px;" href="lieux/vieux-monde/" class="mr-2 btn btn-sm @(Reference == "vieux-monde" ? "btn-primary" : "btn-secondary")">Le Vieux Monde</a>
        <a style="width:120px; margin-top:-10px;" href="lieux/empire/" class="mr-2 btn btn-sm @(Reference == "empire" ? "btn-primary" : "btn-secondary")">L'Empire</a>
        <a style="width:120px; margin-top:-10px;" href="lieux/bretonnie/" class="mr-2 btn btn-sm @(Reference == "bretonnie" ? "btn-primary" : "btn-secondary")">Bretonnie</a>
    </span>
</MainTopRow>

<div class="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th style="width:400px;">Nom</th>
            <th>Types</th>
            <th>Population</th>
            <th>Industrie</th>
            <th>Allégeance</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var lieu in _lines)
        {
            <LieuRow Item="@lieu"/>
        }
        </tbody>
    </table>
</div>