@page "/lieu/{LieuId}"

@using BlazorWjdr.Components.Lieu
@using BlazorWjdr.Components.Campagne

@inject LieuxService _lieuxService
@inject ScenariosService _scenariosService
@inject AppState _appState
@code {
    [Parameter, EditorRequired] public string LieuId { get; set; } = null!;

    private LieuDto Item { get; set; } = null!;
    private ScenarioDto[] _scenarios = Array.Empty<ScenarioDto>();
    private string _topRowTitle = "";

    protected override void OnParametersSet()
    {
        Item = _lieuxService.GetLieu(int.Parse(LieuId));

        _topRowTitle = $"{Item.Nom}, {Item.TypeDeLieu.Nom}";
        if (Item.Parent != null)
            _topRowTitle += $" ({Item.Parent?.Nom})";
        _appState.SetMainTopRowTitle(_topRowTitle);

        if (_appState.JeSuisDieu)
        {
            var lieux = new List<LieuDto> { Item };
            if (Item.SousElements.Any())
                lieux.AddRange(Item.SousElements);
            _scenarios = _scenariosService
                .AllScenarios(lieux.ToArray(), Array.Empty<LieuTypeDto>())
                .Where(s => s.Note is 0 or > 2)
                .ToArray();
        }

    }
}
<div class="row">
    <div class="col-6">
        <div class="card-body">
            <h3 class="card-title">@Item.Nom</h3>
            <p class="card-text">
                <span class="insister">Type : </span><LieuTypeItem Item="@Item.TypeDeLieu" />
                <br />
                <span class="insister">Localisation : </span><LieuItem Item="@Item.Parent" />
                @if (Item.Population != "")
                {
                    <br />

                    <span class="insister">Population : </span>

                    <span>@Item.Population</span>
                }
                @if (Item.Industrie != "")
                {
                    <br />

                    <span class="insister">Industrie : </span>

                    <span>@Item.Industrie</span>
                }
                @if (Item.Allegeance != "")
                {
                    <br />

                    <span class="insister">Allégeance : </span>

                    <span>@Item.Allegeance</span>
                }
                @if (Item.SousElements.Any())
                {
                    <br />
                    <span class="insister">Regroupe : </span>

                    <LieuItemList Items="@Item.SousElements.ToArray()" />
                }
            </p>
            <CardParagraphes Text="@Item.Description" />
        </div>
        @if (_scenarios.Any())
        {
            <div class="card-body">
                <h4 class="card-title">Scénarios</h4>
                <ScenarioTable Items="@_scenarios" LigneCourte="@true" />
            </div>
        }
    </div>
    <div class="col-6">
        <img alt="Blason" src="images/lieux/@(Item.Id)-blas.png" />
        <img alt="Localisation" src="images/lieux/@(Item.Id)-loc.png" />
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <img alt="Plan" src="images/lieux/@(Item.Id)-plan.jpg" />
    </div>
</div>
