@using BlazorWjdr.Models
<h4 class="card-title">@Item.Nom</h4>
<ul>
    @if (AfficherType)
    {
        <li><strong>@Item.Type</strong></li>
    }
    @if (Item.NS != null)
    {
        <li><strong>NS</strong> : @Item.NS</li>
    }
    <li><strong>Cibles</strong> : @Item.Cible</li>
    <li><strong>Distance</strong> : @Item.Distance</li>
    <li><strong>Durée</strong> : @Item.Duree</li>
    @if (!string.IsNullOrWhiteSpace(Item.Ingredient))
    {
        <li><strong>Ingrédient</strong> : @Item.Ingredient</li>
    }
</ul>
<p class="card-text" style="max-height:400px; scroll-behavior:auto;">
    @Item.Effet
</p>
@code {
    [Parameter] public SortilegeDto Item { get; set; } = null!;
    [Parameter] public bool AfficherType { get; set; }
}