@code {
    [Parameter] public EventCallback OnCloseRequest { get; set; }
    [Parameter] public EventCallback<string> OnValidatePassword { get; set; }

    int[] _numbers = [1,2,3,4,5,6,7,8,9,0];
    int[] _initial = [];
    string _sequence = "";

    protected override void OnInitialized()
    {
        RandomizeKeys();
        _initial = _numbers.Select(n => n).ToArray();
    }

    void RandomizeKeys()
    {
        _numbers = _numbers.OrderBy(_ => new Random().Next()).ToArray();
    }

    void PressKey(int index)
    {
        RandomizeKeys();
        if (_sequence.Length == 4)
        {
            _sequence = "";
        }
        _sequence += _initial[index].ToString();
        if (_sequence.Length == 4)
        {
            ValidatePassword();
        }
    }

    void ValidatePassword()
    {
        OnValidatePassword.InvokeAsync(_sequence);
    }

    void CloseRequest()
    {
        OnCloseRequest.InvokeAsync(_sequence);
    }
}
<div class="p-2">
    <div class="rounded-4 bg-white">
        <p class="text-center mb-1" style="font-size:1.3rem; min-height:2rem;">@(string.Join("", _sequence.Select(_ => "x")))</p>
    </div>
</div>
<div class="mb-1">
    <span><button @onclick=@(_ => PressKey(1)) class="btn btn-primary w-3rem">@_numbers[1]</button></span>
    <span><button @onclick=@(_ => PressKey(2)) class="btn btn-primary w-3rem">@_numbers[2]</button></span>
    <span><button @onclick=@(_ => PressKey(3)) class="btn btn-primary w-3rem">@_numbers[3]</button></span>
</div>
<div class="mb-1">
    <span><button @onclick=@(_ => PressKey(4)) class="btn btn-primary w-3rem">@_numbers[4]</button></span>
    <span><button @onclick=@(_ => PressKey(5)) class="btn btn-primary w-3rem">@_numbers[5]</button></span>
    <span><button @onclick=@(_ => PressKey(6)) class="btn btn-primary w-3rem">@_numbers[6]</button></span>
</div>
<div class="mb-1">
    <span><button @onclick=@(_ => PressKey(7)) class="btn btn-primary w-3rem">@_numbers[7]</button></span>
    <span><button @onclick=@(_ => PressKey(8)) class="btn btn-primary w-3rem">@_numbers[8]</button></span>
    <span><button @onclick=@(_ => PressKey(9)) class="btn btn-primary w-3rem">@_numbers[9]</button></span>
</div>
<div>
    <span><button @onclick=@CloseRequest class="btn btn-primary w-3rem text-orange"><OiIcon Icon="x" /></button></span>
    <span><button @onclick=@(_ => PressKey(0)) class="btn btn-primary w-3rem">@_numbers[0]</button></span>
    <span><button @onclick=@ValidatePassword class="btn btn-primary w-3rem text-orange"><OiIcon Icon="check" /></button></span>
</div>