@using BlazorWjdr.Services

@inject CompetencesEtTalentsService _ctService

<table class="table">
    <tbody class="alternate-color-dark">
<tr><td><strong>Talent</strong></td><td><strong>Halfling</strong></td><td><strong>Humain</strong></td></tr>
<tr><td><TalentItem Item="@_ctService.TalentAccuiteAuditive"/>              </td><td>01-04</td><td>01-03</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentAccuiteGustativeEtOlfactive"/>  </td><td>05-06</td><td>04-05</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentAccuiteVisuelle"/>              </td><td>07-10</td><td>06-09</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentAmbidextrie"/>                  </td><td>11-15</td><td>10-14</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentCalculMental"/>                 </td><td>16-20</td><td>15-18</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentChance"/>                       </td><td>21-25</td><td>19-22</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentCourseAPied"/>                  </td><td>26-30</td><td>23-26</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentDoigtsVifs"/>                   </td><td>36-39</td><td>31-35</td></tr>    
<tr><td><TalentItem Item="@_ctService.TalentDurACuir"/>                     </td><td>36-39</td><td>31-35</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentForceAccrue"/>                  </td><td>40-43</td><td>36-39</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentGuerrierNe"/>                   </td><td>44-48</td><td>40-44</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentImitation"/>                    </td><td>49-53</td><td>45-48</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentIntelligent"/>                  </td><td>54-58</td><td>49-53</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentReflexesEclairs"/>              </td><td>59-62</td><td>54-57</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentResistanceALaMagie"/>           </td><td>63-64</td><td>58-61</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentResistanceAccrue"/>             </td><td>65-68</td><td>60-65</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentResistanceAuxMaladies"/>        </td><td>69-72</td><td>66-69</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentResistanceAuxPoisons"/>         </td><td>73-76</td><td>70-73</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentRobuste"/>                      </td><td>77-81</td><td>74-77</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentSainDEsprit"/>                  </td><td>82-86</td><td>78-81</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentSangFroid"/>                    </td><td>87-91</td><td>82-85</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentSixiemeSens"/>                  </td><td>92-96</td><td>86-90</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentSociable"/>                     </td><td>31-35</td><td>27-30</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentTireurDElite"/>                 </td><td>97-00</td><td>91-95</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentVisionNocturne"/>               </td><td>  -  </td><td>96-00</td></tr>
<tr><td><TalentItem Item="@_ctService.TalentVivacite"/>                     </td><td>36-39</td><td>31-35</td></tr>
    </tbody>
</table>