@page "/creatures/{CreatureId}/"

@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Lieu

@inject BestiolesService _bestiolesService
@inject CampagnesService _campagnesService
@inject AppState _appState
@code {
    [Parameter]
    public string CreatureId { get; set; } = null!;

    private BestioleDto? Item { get; set; }

    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Bestiaire");
    }

    protected override void OnParametersSet()
    {
        Item = _bestiolesService.GetBestiole(int.Parse(CreatureId));
    }
}
<div class="row">
    <ColFrise />
    <div class="col-8">

        <div class="card-body pt-0">
            <img alt="@Item!.Nom (apparence)" style="float:right; max-width:550px; max-height:550px;" src="images/beasts/@(Item.Id).png" />
            <h1 style="font-size: xxx-large;">@Item!.Nom</h1>
            @if (Item.Origines.Any())
            {
                <em>Origines :&nbsp;</em>
                @foreach (var lieu in Item.Origines)
                {
                    <LieuComplet Item="@lieu" />
                }
            }
        </div>

        <div class="card-body pt-0">
            <p>
                <BestioleProfil Item="@Item" NAfficherQueLeProfilActuel=true />
            </p>
            <BestioleBlessMouvProt Item="@Item" />
        </div>

        <div class="card-body pt-0">
            <AptitudesAcquises Item="@Item" />
            @if (Item.EquipementDeCarrieres != "")
            {
                <h5>Equipement</h5>
                <p>@Item.EquipementDeCarrieres</p>
            }
            <BestioleFicheMatosSorts Item="@Item" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
        @if (Item.Description != "")
        {
            <div class="card-body pt-0">
                <h3>Description</h3>
                <CardParagraphes Text="@Item.Description" />
            </div>
        }
    </div>
    <div class="col-4">
        @if (Item.Psychologie != "")
        {
            <div class="card-body pt-0">
                <h3>Psychologie</h3>
                <CardParagraphes Text="@Item.Psychologie" />
            </div>
        }
        @if (Item.Notes != "")
        {
            <div class="card-body pt-0">
                <h3>Notes</h3>
                <CardParagraphes Text="@Item.Notes" />
            </div>
        }
    </div>
</div>
