@page "/carrieres/{CarriereId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Profil
@using Models
@using Services

<MainTopRow Title="Carrière"/>

<div class="content px-4">
    <div class="_container">

        <div class="row">

            <div class="col-6" style="padding-right: 0;">

                <div class="card-body" style="padding-top: 0; padding-right: 0;">
                    <h1 class="card-title" style="font-size: xxx-large;">@Item.Nom</h1>
                    <CarriereDescription Item="@Item" AfficherCitations="@true"/>
                </div>

            </div>

            <div class="col-5">

                <div class="card-body">
                    <h4 class="card-title">Plan de carrière</h4>
                    <p class="card-text">
                        <Profil PlanDeCarriere="@Item.PlanDeCarriere"/>
                    </p>
                    
                    <p class="card-text">
                        <CarriereNiveau Niveau="@Item.Niveau"/>
                        @if (Item.CompetenceDeMetier != null)
                        {
                            <span class="ml-3" />
                            <ItemIcon Icon="infinity" Classes="ml-3 mr-3" />
                            <span class="ml-3" />
                            <AptitudeItem Item="@Item.CompetenceDeMetier" />
                        }
                        @if (Item.Statut != "")
                        {
                            <span class="ml-3" />
                            <ItemIcon Icon="infinity"/>
                            <span class="ml-3" />
                            <Tooltip Text="@Item.SalaireHebdo">
                                <span class="insister">@Item.StatutPretty()</span>
                            </Tooltip>
                        }
                    </p>
                    
                    <h4 class="card-title">Compétences</h4>
                    <p class="card-text">
                        <AptitudeItemList Items="@Item.Competences.ToArray()" ItemsChoix="@Item.ChoixCompetences.ToArray()"/>
                    </p>

                    <h4 class="card-title">Talents</h4>
                    <p class="card-text">
                        <AptitudeItemList Items="@Item.Talents.ToArray()" ItemsChoix="@Item.ChoixTalents.ToArray()"/>
                    </p>

                    @if (Item.ProposeAuMoinsUnTrait)
                    {
                        <h4 class="card-title">Traits</h4>
                        <p class="card-text">
                            <AptitudeItemList Items="@Item.Traits.ToArray()" ItemsChoix="@Item.ChoixTraits.ToArray()"/>
                        </p>
                    }

                    <h4 class="card-title">Dotations</h4>
                    <p class="card-text">
                        <CarriereDotations Item="@Item"/>
                    </p>
                </div>

                <div class="card-body mt-2">
                    <h4 class="card-title">Débouchés</h4>
                    <p class="card-text">
                        <CarriereItemList Items="@Item.Debouches.ToArray()"
                                          SpecialCarriereId="@Item.DebouchesDAvancements.Select(a => a.Id).ToArray()"/>
                    </p>

                    <h4 class="card-title">Filières</h4>
                    <p class="card-text">
                        @if (Item.Filieres.Any())
                        {
                            <CarriereItemList Items="@Item.Filieres.ToArray()" HideIndicatorRestriction="true"
                                              SpecialCarriereId="@Item.FilieresDAvancement.Select(a => a.Id).ToArray()"/>
                        }
                        @if (Item.EstUneCarriereDeBase)
                        {
                            <CarriereDeBase/>
                        }
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string CarriereId { get; set; } = null!;

    private CarriereDto Item { get; set; } = null!;

    [Inject]
    public CarrieresService CarrieresService { get; set; } = null!;

    protected override void OnParametersSet()
    {
        Item = CarrieresService.GetCarriere(int.Parse(CarriereId));
    }
}