@inject ReglesService ReglesSvc
@code {
    [Parameter] public string ProvinceActive { get; set; } = "Empire";

    IEnumerable<string> _empireProvinces = ["Empire", "Averland", "Hochland", "Middenland", "Nordland", "Ostermark", "Ostland", "Reikland", "Stirland", "Talabecland", "Wissenland", "Sylvanie", "Strigany", "Mutant"];
    IEnumerable<string> _bretonnieDuches = ["Bretonnie", "L'Anguille", "Aquitanie", "Artenois", "Bastogne", "Bordeleaux", "Brionne", "Couronne", "Gasconnie", "Gisoreux", "Lyonesse", "Monfort", "Mousillon", "Parravon", "Quenelles"];

    private void Selectionner(MouseEventArgs mouseEventArgs, string province)
    {
        ProvinceActive = province;
    }
}
<div class="row px-4 mt-3">
    <div class="col-12">
        <button type="button" @onclick="@(e => Selectionner(e, "Bretonnie"))" class="btn @(ProvinceActive == "Bretonnie" ? "btn-primary" : "btn-secondary")">
            Bretonnien
        </button>
        <button type="button" @onclick="@(e => Selectionner(e, "Empire"))" class="btn @(ProvinceActive == "Empire" ? "btn-primary" : "btn-secondary")">
            Impérial
        </button>
        <button type="button" @onclick="@(e => Selectionner(e, "Kislev"))" class="btn @(ProvinceActive == "Kislev" ? "btn-primary" : "btn-secondary")">
            Kislevite
        </button>
        <button type="button" @onclick="@(e => Selectionner(e, "Norsca"))" class="btn @(ProvinceActive == "Norsca" ? "btn-primary" : "btn-secondary")">
            Norsca
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        @if (_empireProvinces.Contains(ProvinceActive))
        {
            <button type="button" @onclick="@(e => Selectionner(e, "Averland"))" class="me-1 btn btn-sm @(ProvinceActive == "Averland" ? "btn-primary" : "btn-secondary")">
                Averland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Hochland"))" class="me-1 btn btn-sm @(ProvinceActive == "Hochland" ? "btn-primary" : "btn-secondary")">
                Hochland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Middenland"))" class="me-1 btn btn-sm @(ProvinceActive == "Middenland" ? "btn-primary" : "btn-secondary")">
                Middenland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Nordland"))" class="me-1 btn btn-sm @(ProvinceActive == "Nordland" ? "btn-primary" : "btn-secondary")">
                Nordland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Ostermark"))" class="me-1 btn btn-sm @(ProvinceActive == "Ostermark" ? "btn-primary" : "btn-secondary")">
                Ostermark
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Ostland"))" class="me-1 btn btn-sm @(ProvinceActive == "Ostland" ? "btn-primary" : "btn-secondary")">
                Ostland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Reikland"))" class="me-1 btn btn-sm @(ProvinceActive == "Reikland" ? "btn-primary" : "btn-secondary")">
                Reikland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Stirland"))" class="me-1 btn btn-sm @(ProvinceActive == "Stirland" ? "btn-primary" : "btn-secondary")">
                Stirland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Talabecland"))" class="me-1 btn btn-sm @(ProvinceActive == "Talabecland" ? "btn-primary" : "btn-secondary")">
                Talabecland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Wissenland"))" class="me-1 btn btn-sm @(ProvinceActive == "Wissenland" ? "btn-primary" : "btn-secondary")">
                Wissenland
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Sylvanie"))" class="me-1 ms-4 btn btn-sm @(ProvinceActive == "Sylvanie" ? "btn-primary" : "btn-secondary")">
                Sylvanie
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Strigany"))" class="me-1 ms-4 btn btn-sm @(ProvinceActive == "Strigany" ? "btn-primary" : "btn-secondary")">
                Strigany
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Mutant"))" class="me-1 ms-4 btn btn-sm @(ProvinceActive == "Mutant" ? "btn-primary" : "btn-secondary")">
                Mutant
            </button>
        }
        else if (_bretonnieDuches.Contains(ProvinceActive))
        {
            <button type="button" @onclick="@(e => Selectionner(e, "L'Anguille"))" class="me-1 btn btn-sm @(ProvinceActive == "L'Anguille" ? "btn-primary" : "btn-secondary")">
                L'Anguille
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Aquitanie"))" class="me-1 btn btn-sm @(ProvinceActive == "Aquitanie" ? "btn-primary" : "btn-secondary")">
                Aquitanie
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Artenois"))" class="me-1 btn btn-sm @(ProvinceActive == "Artenois" ? "btn-primary" : "btn-secondary")">
                Artenois
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Bastogne"))" class="me-1 btn btn-sm @(ProvinceActive == "Bastogne" ? "btn-primary" : "btn-secondary")">
                Bastogne
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Bordeleaux"))" class="me-1 btn btn-sm @(ProvinceActive == "Bordeleaux" ? "btn-primary" : "btn-secondary")">
                Bordeleaux
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Brionne"))" class="me-1 btn btn-sm @(ProvinceActive == "Brionne" ? "btn-primary" : "btn-secondary")">
                Brionne
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Couronne"))" class="me-1 btn btn-sm @(ProvinceActive == "Couronne" ? "btn-primary" : "btn-secondary")">
                Couronne
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Gasconnie"))" class="me-1 btn btn-sm @(ProvinceActive == "Gasconnie" ? "btn-primary" : "btn-secondary")">
                Gasconnie
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Gisoreux"))" class="me-1 btn btn-sm @(ProvinceActive == "Gisoreux" ? "btn-primary" : "btn-secondary")">
                Gisoreux
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Lyonesse"))" class="me-1 btn btn-sm @(ProvinceActive == "Lyonesse" ? "btn-primary" : "btn-secondary")">
                Lyonesse
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Monfort"))" class="me-1 btn btn-sm @(ProvinceActive == "Monfort" ? "btn-primary" : "btn-secondary")">
                Monfort
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Mousillon"))" class="me-1 btn btn-sm @(ProvinceActive == "Mousillon" ? "btn-primary" : "btn-secondary")">
                Mousillon
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Parravon"))" class="me-1 btn btn-sm @(ProvinceActive == "Parravon" ? "btn-primary" : "btn-secondary")">
                Parravon
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Quenelles"))" class="me-1 btn btn-sm @(ProvinceActive == "Quenelles" ? "btn-primary" : "btn-secondary")">
                Quenelles
            </button>
        }
        else if (ProvinceActive == "Kislev")
        {
            <button type="button" @onclick="@(e => Selectionner(e, "Gospodars"))" class="me-1 btn btn-sm @(ProvinceActive == "Gospodars" ? "btn-primary" : "btn-secondary")">
                Parravon
            </button>
            <button type="button" @onclick="@(e => Selectionner(e, "Ungols"))" class="me-1 btn btn-sm @(ProvinceActive == "Ungols" ? "btn-primary" : "btn-secondary")">
                Quenelles
            </button>
        }
        else if (ProvinceActive == "Norsca")
        {
        }
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="section">
            <div class="bulle shadow-sm px-4">
                <RegleDetail Item=@ReglesSvc.GetRegle(RacesService.GetIdRegleDesTraitsCulturels(ProvinceActive)) />
            </div>
        </div>
    </div>
</div>