@code {
    [Parameter, EditorRequired] public TableDto Item { get; set; } = null!;
    [Parameter] public bool MasquerTitre { get; set; }
    [Parameter] public bool MasquerDescription { get; set; }
    [Parameter] public int FixedColSize { get; set; }
}
@if (MasquerTitre == false && !string.IsNullOrWhiteSpace(Item.Titre))
{
    <h5>@Item.Titre</h5>
}
@if (MasquerDescription == false && !string.IsNullOrWhiteSpace(Item.Description))
{
    <p class="text-justify">@Item.Description</p>
}
<div class="bulle shadow-sm">
    <table class="table table-striped">
        <tbody class="alternate-color-light">
        <tr>
            @for (var i = 0; i < Item.Lignes[0].Length; i++)
            {
                if (FixedColSize == 0) {
                    if (i < Item.StylesHeader.Length) {
                        <th style="@Item.StylesHeader[i]">@Item.Lignes[0][i]</th>
                    } else {
                        <th>@Item.Lignes[0][i]</th>
                    }
                } else {
                    <th style="width:@(FixedColSize)px">@Item.Lignes[0][i]</th>
                }
            }
        </tr>
        @for (var x = 1; x < Item.Lignes.Length; x++)
        {
            <tr>
                @for (var y = 0; y < Item.Lignes[x].Length; y++)
                {
                    if (y < Item.StylesRows.Length) {
                        <td style="@Item.StylesRows[y]">@Item.Lignes[x][y]</td>
                    } else {
                        <td>@Item.Lignes[x][y]</td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</div>
