<tr>
    <td width="130">
        <span class="btn btn-primary table-btn mr-1" @onclick="e => AfficherPlanDeCarriere = !AfficherPlanDeCarriere">
            <span class="oi oi-grid-four-up" aria-hidden="true"></span>
        </span>
        <span class="btn btn-primary table-btn mr-1" @onclick="e => AfficherCompetencesEtTalents = !AfficherCompetencesEtTalents">
            <span class="oi oi-grid-four-up" aria-hidden="true"></span>
        </span>
    </td>
    <td><CarriereItem Item="@Carriere"/></td>
    <td>@Carriere.EstUneCarriereAvancee</td>
    <td><ReferenceItem Item="@Carriere.SourceLivre" Page="@Carriere.Source" /></td>
</tr>
@if (AfficherPlanDeCarriere)
{
    <tr>
        <td colspan="4">
            <PlanDeCarriere Plan="@Carriere.PlanDeCarriere"></PlanDeCarriere>
        </td>
    </tr>
}
@if (AfficherCompetencesEtTalents)
{
    <tr>
        <td colspan="4">
            <CompetencesEtTalents Carriere="@Carriere"></CompetencesEtTalents>
        </td>
    </tr>
}
