@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent
@using BlazorWjdr.Shared.Oi

<tr>

    <td style="width:180px;">
        <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherPlanDeCarriere = !AfficherPlanDeCarriere">
            <span class="oi oi-grid-four-up" aria-hidden="true"></span>
        </span>
        <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherCompetencesEtTalents = !AfficherCompetencesEtTalents">
            <span class="oi oi-target" aria-hidden="true"></span>
            <span class="oi oi-brush" aria-hidden="true"></span>
        </span>
        <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherFilieresEtDebouches = !AfficherFilieresEtDebouches">
            <span class="oi oi-loop" aria-hidden="true"></span>
        </span>
    </td>
    <td>
        @if (Item.SousElements.Any())
        {
            <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherSousElements = !AfficherSousElements">
                <span class="oi oi-layers" aria-hidden="true"></span>
            </span>
        }
    </td>
    <td>
        @if (Item.Parent != null)
        {
            <SousElement/>
        }
        <CarriereItem Item="@Item"/>
    </td>
    <td><CheckedIfTrue Condition="@Item.EstUneCarriereAvancee"/></td>
    <td>
        @if (Item.SourceLivre != null)
        {
            <ReferenceItem Item="@Item.SourceLivre" Page="@Item.Source"/>
        }
    </td>
</tr>
@if (AfficherPlanDeCarriere)
{
    <tr>
        <td colspan="5" class="p-3">
            <div class="bulle">
                <h6 class="card-title">Plan de carrière</h6>
                <Profil PlanDeCarriere="@Item.PlanDeCarriere"/>
            </div>
        </td>
    </tr>
}
@if (AfficherCompetencesEtTalents)
{
    <tr>
        <td colspan="5" class="px-3 pt-1 pb-3">
            <div class="bulle">
                <h6 class="card-title">Compétences</h6>
                <CompetenceItemList Items="@Item.Competences.ToArray()" ItemsChoix="@Item.ChoixCompetences.ToArray()" />
                <h6 class="card-title">Talents</h6>
                <TalentItemList Items="@Item.Talents.ToArray()" ItemsChoix="@Item.ChoixTalents.ToArray()" />
            </div>
        </td>
    </tr>
}
@if (AfficherFilieresEtDebouches)
{
    <tr>
        <td colspan="5" class="px-3 pt-1 pb-3">
            <div class="bulle">
                <h6 class="card-title">Filières</h6>
                <CarriereItemList Items="@Item.Filieres.ToArray()"/>
                <h6 class="card-title">Débouchés</h6>
                <CarriereItemList Items="@Item.Debouches.ToArray()"/>
            </div>
        </td>
    </tr>
}
@if (AfficherSousElements && Item.SousElements.Any())
{
    @foreach (var sousElement in Item.SousElements)
    {
        <CarriereRow Item="@sousElement" />
    }
}