@using BlazorWjdr.Models
@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Components.Regle
@code{
    [Parameter] public CarriereDto Item { get; set; } = null!;
    [Parameter] public bool AfficherCitations { get; set; }
}

@if (Item.Origines.Any())
{
    <p class="card-text">
        <CarriereAvancement Origines="@Item.Origines"/>
    </p>
}
<ImageMax Image="@Item.Image" Nom="@Item.Nom" MaxHeight="450px" MaxWidth="300px"/>

<div style="min-height:400px;">
    <CardParagraphes Text="@Item.Description" CardTextClass="pr-3"/>
</div>
@if (AfficherCitations && Item.Ambiance.Any())
{
    @foreach (var citation in Item.Ambiance)
    {
        <p class="card-text p-2" style="clear:both;">
            <CarriereCitations Citation="@citation"/>
        </p>
    }
}
@if (Item.SourceLivre != null || !string.IsNullOrWhiteSpace(Item.Source))
{
    <ReferenceItem Item="@Item.SourceLivre" Page="@Item.Source"/>
}
@if (Item.SousElements.Any())
{
    <h5 class="card-title mt-4">Variantes</h5>
    <p class="card-text">
        <CarriereItemList Items="@Item.SousElements.ToArray()"/>
    </p>
}