@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Shared.Oi

<tr>

    <td style="width:130px;">
        <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="e => AfficherPlanDeCarriere = !AfficherPlanDeCarriere">
            <span class="oi oi-grid-four-up" aria-hidden="true"></span>
        </span>
        <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="e => AfficherCompetencesEtTalents = !AfficherCompetencesEtTalents">
            <span class="oi oi-target" aria-hidden="true"></span>
            <span class="oi oi-brush" aria-hidden="true"></span>
        </span>
    </td>
    <td>
        @if (Item.SousElements.Any())
        {
            <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="e => AfficherSousElements = !AfficherSousElements">
                <span class="oi oi-layers" aria-hidden="true"></span>
            </span>
        }
    </td>
    <td>
        @if (Item.CarriereMere != null)
        {
            <SousElement/>
        }
        <CarriereItem Item="@Item"/>
    </td>
    <td><CheckedIfTrue Condition="@Item.EstUneCarriereAvancee"/></td>
    <td>
        @if (Item.SourceLivre != null)
        {
            <ReferenceItem Item="@Item.SourceLivre" Page="@Item.Source"/>
        }
    </td>
</tr>
@if (AfficherPlanDeCarriere)
{
    <tr>
        <td colspan="4">
            <PlanDeCarriere Plan="@Item.PlanDeCarriere"/>
        </td>
    </tr>
}
@if (AfficherCompetencesEtTalents)
{
    <tr>
        <td colspan="4">
            <CompetencesEtTalents Carriere="@Item"/>
        </td>
    </tr>
}
@if (AfficherSousElements && Item.SousElements.Any())
{
    @foreach (var sousElement in Item.SousElements)
    {
        <CarriereRow Item="@sousElement" />
    }
}