@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude

@inject CarrieresService CarrSvc
@inject ArmesService ArmesService
@code {
    [Parameter, EditorRequired] public ArmeDto Item { get; set; } = null!;
    [Parameter] public bool ArmeDeTir { get; set; }

    private bool AfficherFiche { get; set; }
}
<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn me-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <OiIcon Icon="eye"/>
        </span>
        @Item.Nom
    </td>
    <td>
        @if (Item.CompetencesDeMaitrise.Any())
        {
            <AptitudeItem Item=@Item.CompetencesDeMaitrise.First() />
        }
    </td>
    <td>@Item.Degats</td>
    @if (ArmeDeTir)
    {
        <td>@Item.Portee</td>
    }
    else
    {
        <td>@Item.Allonge</td>
    }
    <td>
        <AttributDArmeItemList Items=@Item.Attributs />
    </td>
    <td>@Item.Encombrement</td>
    <td>@Item.Prix</td>
    <td>@Item.Disponibilite</td>
</tr>
@if (AfficherFiche)
{
    <ArmeRowDetail Item=@Item />
}
