@using BlazorWjdr.Models
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Services

@inject CarrieresService _carrieresService
@inject ArmesService _armesService

<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn mr-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <span class="oi oi-eye" aria-hidden="true"></span>
        </span>
        @Item.Nom
    </td>
    <td>
        @if (Item.CompetencesDeMaitrise.Any())
        {
            <CompetenceItem Item="@Item.CompetencesDeMaitrise.First()"/>
        }
    </td>
    <td>@Item.Degats</td>
    @if (ArmeDeTir)
    {
        <td>@Item.Portee</td>
    }
    else
    {
        <td>@Item.Allonge</td>
    }
    <td>
        <AttributDArmeItemList Items="@Item.Attributs.ToArray()"/>
    </td>
    <td>@Item.Encombrement</td>
    <td>@Item.Prix</td>
    <td>@Item.Disponibilite</td>
</tr>
@if (AfficherFiche)
{
    <ArmeRowDetail Item="@Item"/>
}
@code {
    [Parameter]
    public ArmeDto Item { get; set; } = null!;
    [Parameter]
    public bool ArmeDeTir { get; set; }
    
    private bool AfficherFiche { get; set; }
}