@using BlazorWjdr.Models

<h3 class="card-title">@Trait.Nom <em>(@Trait.GroupeSexy)</em></h3>
<TraitItem Item="Trait"/>
@if (Trait.Contagieux != null)
{
    <p class="card-text">
        <strong>Contagieux : </strong>@(Trait.Contagieux ?? false ? "oui" : "non")
    </p>
}
<p class="card-text">
    @Trait.Description
</p>
@if (!string.IsNullOrWhiteSpace(Trait.Guerison))
{
    <p class="card-text">
        <strong>Guérison : </strong>@Trait.Guerison
    </p>
}

@code {

    [Parameter]
    public TraitDto Trait { get; set; } = null!;

}