@page "/aventuriers/{CampagneId}/"

@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Campagne
@using BlazorWjdr.Components.Campagne.Contact
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject CampagnesService _campagnesService

<MainTopRow Title="@_topRowTitle"/>

<div class="content px-4">
    
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@_seancePrecedente.Titre</h3>
                    <SeanceDetail Item="@_seancePrecedente" CampagneId="@int.Parse(CampagneId)"/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Aptitudes du groupe</h3>
                    <AptitudeItemListSummary Aptitudes="_aptitudes" CompetencesAvanceesUniquement="@true"/>
                </div>
            </div>
        </div>
    </div>
    
    <PageSectionDivider/>
    
    <h3 class="card-title">Connaissances, Contacts, Alliés</h3>
    <CampagneContactRows Items="@_campagne.Contacts"/>
    
    <PageSectionDivider/>

    <h3 class="card-title">Aventuriers</h3>
    <BestioleFicheRows Items="@_seancePrecedente.Pjs"/>
</div>

@code {
    [Parameter] public string CampagneId { get; set; } = null!;
    
    private CampagneDto _campagne = null!;
    private SeanceDto _seancePrecedente = null!;
    private SeanceDto _seanceActuelle = null!;
    private AptitudeDto[] _aptitudes = null!;
    private string _topRowTitle = "";
    
    protected override void OnParametersSet()
    {
        _campagne = _campagnesService.AllCampagnes().First(c=> c.Id == int.Parse(CampagneId));
        _seancePrecedente = _campagne.SeancePrecedente();
        _seanceActuelle = _campagne.SeanceActuelle();
        _topRowTitle = _campagne.Titre;
        
        _aptitudes = _seanceActuelle.Pjs
            .SelectMany(pj => pj.AptitudesAcquises.Select(aa => aa.Aptitude))
            .Distinct()
            .OrderBy(a => a.NomComplet).ToArray();
        
        base.OnParametersSet();
    }
}