@page "/equipement/armes-liste/{Groupe}/{Filtre}/"

@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject ArmesService _armesService
@inject CompetencesEtTalentsService _competencesEtTalentsService

<MainTopRow>
    <span class="title-primary top-row-title">Armes</span>
    <span style="margin-left: 160px;">
        <a style="width:120px; margin-top:-10px;" href="/equipement/armes-liste/@Groupe/toutes/" class="mr-2 btn btn-sm @(Filtre == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
        <a style="width:120px; margin-top:-10px;" href="/equipement/armes-liste/@Groupe/corps-a-corps/" class="mr-2 btn btn-sm @(Filtre == "corps-a-corps" ? "btn-primary" : "btn-secondary")">Corps à corps</a>
        <a style="width:120px; margin-top:-10px;" href="/equipement/armes-liste/@Groupe/tir/" class="mr-2 btn btn-sm @(Filtre == "tir" ? "btn-primary" : "btn-secondary")">Tir</a>
    </span>
</MainTopRow>

<div class="content px-4">
    
    <div class="ml-3 mb-3 pl-2">

        <div class="row">
            <div class="col-1">
                <a href="/equipement/armes-liste/toutes/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
                <!--
                <a href="/armes-liste/ordinaires/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == "ordinaires" ? "btn-primary" : "btn-secondary")">Ordinaires</a>
                -->
            </div>
            <div class="col-11">
                @foreach (var groupeDArmes in _armesService.AllGroupesDArmes)
                {
                    var groupeDA = "grp_" + GetGroupe(groupeDArmes.Nom);
                    <a href="/equipement/armes-liste/@groupeDA/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == groupeDA ? "btn-primary" : "btn-secondary")">@groupeDArmes.Nom</a>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @foreach (var maitrise in _competencesEtTalentsService.TalentsMaitriseAuContact)
                {
                    var spe = "spe_" + GetGroupe(maitrise.Specialisation ?? "");
                    <a href="/equipement/armes-liste/@spe/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == spe ? "btn-primary" : "btn-secondary")">@maitrise.Specialisation</a>
                }
            </div>
            <div class="col-6">
                @foreach (var maitrise in _competencesEtTalentsService.TalentsMaitriseADistance)
                {
                    var spe = "spe_" + GetGroupe(maitrise.Specialisation ?? "");
                    <a href="/equipement/armes-liste/@spe/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == spe ? "btn-primary" : "btn-secondary")">@maitrise.Specialisation</a>
                }
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td>Arme</td>
                <td>Groupes</td>
                <td>Maîtrise</td>
                <td>Attributs</td>
                <td>Dégâts</td>
                <td>Portée</td>
                <td>Rechargement</td>
                <td>Enc.</td>
                <td>Prix</td>
                <td>Disponibilité</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var arme in _armesLines)
        {
            <ArmeRow Item="arme"/>
        }
        </tbody>
    </table>
    
</div>
@code {

    [Parameter]
    public string Groupe { get; set; } = "";
    [Parameter]
    public string Filtre { get; set; } = "";


    private List<ArmeDto> _armesLines = null!;

    private string GetGroupe(string specialisation)
    {
        return GenericService.ConvertirCaracteres(specialisation).Replace(" ", "-");
    }

    protected override async Task OnParametersSetAsync()
    {
        var armes = await _armesService.Items();

        if (Groupe != "toutes")
        {
            var type = Groupe.Split('_')[0];
            var item = Groupe.Split('_')[1];

            if (type == "grp")
            {
                var groupeDArme = _armesService.AllGroupesDArmes.Single(g => GetGroupe(g.Nom) == item);
                _armesLines = armes.Where(a => a.Groupes.Contains(groupeDArme)).ToList();
            }
            else if (type == "spe")
            {
                var maitrise = _competencesEtTalentsService.TalentGroupeMaitrise.SousElements.Single(t => GetGroupe(t.Specialisation ?? "") == item);
                _armesLines = armes.Where(a => a.TalentsDeMaitrise.Contains(maitrise)).ToList();
            }
        }
        //else if (Groupe == "ordinaires")
        //{
        //    _armesLines = armes.Where(a => !a.TalentsDeMaitrise.Any()).ToList();
        //}
        else
        {
            _armesLines = armes.ToList();
        }

        if (Filtre == "corps-a-corps")
            _armesLines.RemoveAll(c => c.Portee != "");
        if (Filtre == "tir")
            _armesLines.RemoveAll(c => c.Portee == "");

    }
}
