@page "/carrieres/{CarriereId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Profil

<h3>@Carriere.Libelle</h3>
<h5>@Carriere.Restriction</h5>

<div>
    <span>Source : @Carriere.Source</span>
</div>

<div>
    <img src="..@Carriere.Image" />
</div>

<PlanDeCarriere Plan="@Carriere.PlanDeCarriere"></PlanDeCarriere>

<div>@Carriere.Description</div>

<div>
    <CompetencesEtTalents Carriere="@Carriere"></CompetencesEtTalents>
</div>