@page "/carrieres/{CarriereId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent
@using BlazorWjdr.Components.Trait
@using BlazorWjdr.Components.Profil
@using Models
@using Services
@using Microsoft.AspNetCore.Components
<MainTopRow/>

<div class="content px-4">
    <div class="_container">

        <div class="row">

            <div class="col-5" style="padding-right: 0;">

                <div class="card-body" style="padding-top: 0; padding-right: 0;">
                    <h1 class="card-title" style="font-size: xxx-large;">@Carriere.Nom</h1>
                    <CarriereDescription Item="@Carriere" AfficherCitations="@true"/>
                </div>

                <CarriereRestriction Item="@Carriere"/>

            </div>

            <div class="col-7">

                <div class="card-body">
                    <h5 class="card-title">Plan de carrière</h5>
                    <p class="card-text">
                        <Profil PlanDeCarriere="@Carriere.PlanDeCarriere"/>
                    </p>

                    <h5 class="card-title">Compétences</h5>
                    <p class="card-text">
                        <CompetenceItemList Items="@Carriere.Competences.ToArray()" ItemsChoix="@Carriere.ChoixCompetences.ToArray()"/>
                    </p>

                    <h5 class="card-title">Talents</h5>
                    <p class="card-text">
                        <TalentItemList Items="@Carriere.Talents.ToArray()" ItemsChoix="@Carriere.ChoixTalents.ToArray()"/>
                    </p>

                    @if (Carriere.Traits.Any())
                    {
                        <h5 class="card-title">Traits</h5>
                        <p class="card-text">
                            <TraitItemList Items="@Carriere.Traits.ToArray()"/>
                        </p>
                    }

                    <h5 class="card-title">Dotations</h5>
                    <p class="card-text">
                        <CarriereDotations Item="@Carriere"/>
                    </p>
                </div>

                <div class="card-body mt-2">
                    <h5 class="card-title">Débouchés</h5>
                    <p class="card-text">
                        <CarriereItemList Items="@Carriere.Debouches.ToArray()" HideIndicatorBase="true" HideIndicatorRestriction="false"
                                          SpecialCarriereId="@Carriere.Avancements.Select(a => a.Id).ToArray()"/>
                    </p>

                    <h5 class="card-title">Filières</h5>
                    <p class="card-text">
                        @if (Carriere.Filieres.Any())
                        {
                            <CarriereItemList Items="@Carriere.Filieres.ToArray()" HideIndicatorBase="false" HideIndicatorRestriction="true"
                                              SpecialCarriereId="@Carriere.Origines.Select(a => a.Id).ToArray()"/>
                        }
                        @if (Carriere.EstUneCarriereAvancee == false)
                        {
                            <CarriereDeBase/>
                        }
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string CarriereId { get; set; } = null!;

    private CarriereDto Carriere { get; set; } = null!;

    [Inject]
    public CarrieresService CarrieresService { get; set; } = null!;

    protected override void OnParametersSet()
    {
        Carriere = CarrieresService.GetCarriere(int.Parse(CarriereId));
    }
}