@page "/carrieres-liste/{Theme}/{Filtre}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject CarrieresService _carrieresService

<MainTopRow>
    <span class="title-primary top-row-title">Carrières</span>
    <span style="margin-left: 160px;">
        <a style="width:120px; margin-top:-10px;" href="/carrieres-liste/@Theme/toutes/" class="mr-2 btn btn-sm @(Filtre == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
        <a style="width:120px; margin-top:-10px;" href="/carrieres-liste/@Theme/de-base/" class="mr-2 btn btn-sm @(Filtre == "de-base" ? "btn-primary" : "btn-secondary")">Base</a>
        <a style="width:120px; margin-top:-10px;" href="/carrieres-liste/@Theme/avancees/" class="mr-2 btn btn-sm @(Filtre == "avancees" ? "btn-primary" : "btn-secondary")">Avancées</a>
    </span>
</MainTopRow>

<div class="content px-4">
    
    <div class="ml-3 mb-3 pl-2">

        <div class="row">
            <div class="col-1">
                <a href="/carrieres-liste/toutes/@Filtre/" class="mb-1 btn btn-sm @(Theme == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
            </div>
            <div class="col-5">
                <a href="/carrieres-liste/academiques/@Filtre/" class="mb-1 btn btn-sm @(Theme == "academiques" ? "btn-primary" : "btn-secondary")">Académiques</a>
                <a href="/carrieres-liste/ami-des-betes/@Filtre/" class="mb-1 btn btn-sm @(Theme == "ami-des-betes" ? "btn-primary" : "btn-secondary")">Ami des bêtes</a>
                <a href="/carrieres-liste/arcaniques/@Filtre/" class="mb-1 btn btn-sm @(Theme == "arcaniques" ? "btn-primary" : "btn-secondary")">Arcaniques</a>
                <a href="/carrieres-liste/artisanat/@Filtre/" class="mb-1 btn btn-sm @(Theme == "artisanat" ? "btn-primary" : "btn-secondary")">Artisanat</a>
                <a href="/carrieres-liste/bureaucratie/@Filtre/" class="mb-1 btn btn-sm @(Theme == "bureaucratie" ? "btn-primary" : "btn-secondary")">Bureaucratie</a>
                <a href="/carrieres-liste/commerce/@Filtre/" class="mb-1 btn btn-sm @(Theme == "commerce" ? "btn-primary" : "btn-secondary")">Commerce</a>
                <a href="/carrieres-liste/maritimes/@Filtre/" class="mb-1 btn btn-sm @(Theme == "maritimes" ? "btn-primary" : "btn-secondary")">Maritimes</a>
                <a href="/carrieres-liste/militaires/@Filtre/" class="mb-1 btn btn-sm @(Theme == "militaires" ? "btn-primary" : "btn-secondary")">Militaires</a>
                <a href="/carrieres-liste/sociales/@Filtre/" class="mb-1 btn btn-sm @(Theme == "sociales" ? "btn-primary" : "btn-secondary")">Sociales</a>
                <a href="/carrieres-liste/spirituelles/@Filtre/" class="mb-1 btn btn-sm @(Theme == "spirituelles" ? "btn-primary" : "btn-secondary")">Spirituelles</a>
            </div>
            <div class="col-2">
                <a href="/carrieres-liste/martiales-au-contact/@Filtre/" class="mb-1 btn btn-sm @(Theme == "martiales-au-contact" ? "btn-primary" : "btn-secondary")">Au contact</a>
                <a href="/carrieres-liste/martiales-a-distance/@Filtre/" class="mb-1 btn btn-sm @(Theme == "martiales-a-distance" ? "btn-primary" : "btn-secondary")">A distance</a>
                <a href="/carrieres-liste/poudre-noire/@Filtre/" class="mb-1 btn btn-sm @(Theme == "poudre-noire" ? "btn-primary" : "btn-secondary")">Poudre noire</a>
                <a href="/carrieres-liste/cavalerie/@Filtre/" class="mb-1 btn btn-sm @(Theme == "cavalerie" ? "btn-primary" : "btn-secondary")">Cavalerie</a>
            </div>
            <div class="col-2">
                <a href="/carrieres-liste/rodeurs/@Filtre/" class="mb-1 btn btn-sm @(Theme == "rodeurs" ? "btn-primary" : "btn-secondary")">Rôdeurs</a>
                <a href="/carrieres-liste/de-l-ombre/@Filtre/" class="mb-1 btn btn-sm @(Theme == "de-l-ombre" ? "btn-primary" : "btn-secondary")">De l'ombre</a>
                <a href="/carrieres-liste/criminelles/@Filtre/" class="mb-1 btn btn-sm @(Theme == "criminelles" ? "btn-primary" : "btn-secondary")">Criminelles</a>
                <a href="/carrieres-liste/fanatiques/@Filtre/" class="mb-1 btn btn-sm @(Theme == "fanatiques" ? "btn-primary" : "btn-secondary")">Fanatiques</a>
            </div>
            <div class="col-2">
                <a href="/carrieres-liste/bretonnie/@Filtre/" class="mb-1 btn btn-sm @(Theme == "bretonnie" ? "btn-primary" : "btn-secondary")">Bretonnie</a>
                <a href="/carrieres-liste/kislev/@Filtre/" class="mb-1 btn btn-sm @(Theme == "kislev" ? "btn-primary" : "btn-secondary")">Kislev</a>
                <a href="/carrieres-liste/norsca/@Filtre/" class="mb-1 btn btn-sm @(Theme == "norsca" ? "btn-primary" : "btn-secondary")">Norsca</a>
                <a href="/carrieres-liste/chaos/@Filtre/" class="mb-1 btn btn-sm @(Theme == "chaos" ? "btn-primary" : "btn-secondary")">Chaos</a>
                <a href="/carrieres-liste/skavens/@Filtre/" class="mb-1 btn btn-sm @(Theme == "skavens" ? "btn-primary" : "btn-secondary")">Skavens</a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Académique</td>
            <td>Rodeurs</td>
            <td>De l'ombre</td>
            <td>Au contact</td>
            <td>A distance</td>
            <td>Cavalerie</td>
            <td>Social</td>
            <td>Commerce</td>
            <td>Arcanique</td>
            <td>Artisanat</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var carriere in _carrieresLines.Where(c => c.Parent == null))
        {
            <CarriereRow Item="carriere"/>
        }
        </tbody>
    </table>
    
</div>
@code {

    [Parameter]
    public string Theme { get; set; } = "";
    [Parameter]
    public string Filtre { get; set; } = "";    
    

    private List<CarriereDto> _carrieresLines = null!;

    protected override async Task OnParametersSetAsync()
    {
        var carrieres = await _carrieresService.ItemsCarrieres();

        _carrieresLines = Theme switch
        {
            "toutes" => carrieres
                .Except(_carrieresService.CarrieresSkaven)
                .Except(_carrieresService.CarrieresChaos)
                .ToList(),
            "academiques" => carrieres.Where(c => c.ScoreAcademique > 5).OrderByDescending(c => c.ScoreAcademique).ToList(),
            "arcaniques" => carrieres.Where(c => c.ScoreArcanique > 9).OrderByDescending(c => c.ScoreArcanique).ToList(),
            "artisanat" => carrieres.Where(c => c.ScoreArtisanat > 6).OrderByDescending(c => c.ScoreArtisanat).ToList(),
            "bureaucratie" => _carrieresService.CarrieresBureaucratie.OrderBy(c => c.Nom).ToList(),
            "spirituelles" => _carrieresService.CarrieresDevotes.OrderBy(c => c.Nom).ToList(),
            "militaires" => _carrieresService.CarrieresMilitaires.OrderBy(c => c.Nom).ToList(),
            "martiales-au-contact" => carrieres.Where(c => c.ScoreMartialAuContact > 11).OrderByDescending(c => c.ScoreMartialAuContact).ToList(),
            "martiales-a-distance" => carrieres.Where(c => c.ScoreMartialADistance > 11).OrderByDescending(c => c.ScoreMartialADistance).ToList(),
            "poudre-noire" => carrieres.Where(c => c.ScorePoudreNoire > 0).OrderByDescending(c => c.ScorePoudreNoire).ToList(),
            "cavalerie" => carrieres.Where(c => c.ScoreCavalerie > 0).OrderByDescending(c => c.ScoreCavalerie).ToList(),
            "rodeurs" => carrieres.Where(c => c.ScoreRodeur > 19).OrderByDescending(c => c.ScoreRodeur).ToList(),
            "de-l-ombre" => carrieres.Where(c => c.ScoreDeLOmbre > 0).OrderByDescending(c => c.ScoreDeLOmbre).ToList(),
            "criminelles" => _carrieresService.CarrieresCriminelles.OrderBy(c => c.Nom).ToList(),
            "sociales" => carrieres.Where(c => c.ScoreSocial > 10).OrderByDescending(c => c.ScoreSocial).ToList(),
            "commerce" => carrieres.Where(c => c.ScoreCommerce > 4).OrderByDescending(c => c.ScoreCommerce).ToList(),
            "maritimes" => carrieres.Where(c => c.ScoreMaritime > 0).OrderByDescending(c => c.ScoreMaritime).ToList(),
            "ami-des-betes" => carrieres.Where(c => c.ScoreAmiDesBetes > 3).OrderByDescending(c => c.ScoreAmiDesBetes).ToList(),
            "fanatiques" => _carrieresService.CarrieresFanatiques.OrderBy(c => c.Nom).ToList(),
            "bretonnie" => _carrieresService.CarrieresDeBretonnie.OrderBy(c => c.Nom).ToList(),
            "kislev" => _carrieresService.CarrieresDuKislev.OrderBy(c => c.Nom).ToList(),
            "norsca" => _carrieresService.CarrieresDeNorsca.OrderBy(c => c.Nom).ToList(),
            "skavens" => _carrieresService.CarrieresSkaven.OrderBy(c => c.Nom).ToList(),
            "chaos" => _carrieresService.CarrieresChaos.OrderBy(c => c.Nom).ToList(),
            _ => _carrieresLines
        };
        if (Filtre != "toutes")
            _carrieresLines.RemoveAll(c => c.EstUneCarriereAvancee == (Filtre == "de-base"));

    }
}
