@page "/carrieres/{CarriereId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Reference

<MainTopRow>
    <h3>@Carriere.Nom</h3>
</MainTopRow>

<div class="content px-4">

    <div class="_container">
        <div class="row">
            <div class="col-6">
                @if (!string.IsNullOrWhiteSpace(Carriere.Restriction))
                {
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            <span class="oi oi-warning mr-1" aria-hidden="true"></span>
                            @Carriere.Restriction
                        </div>
                    </div>
                }
            </div>
            <div class="col-6">
                @if (!string.IsNullOrWhiteSpace(Carriere.Source))
                {
                    <div class="card-body">
                        <div class="alert alert-info" role="alert">
                            <ReferenceItem Item="@Carriere.SourceLivre" Page="@Carriere.Source"/>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="card-body">
                    <p class="card-text">
                        <img style="float: right; margin: 5px;" src="..@Carriere.Image" alt="@Carriere.Nom"/>
                        @Carriere.Description
                    </p>
                </div>
            </div>
            <div class="col-7">
                <div class="card-body">
                    <!--PlanDeCarriere Plan="@Carriere.PlanDeCarriere"/-->

                    <div class="row" style="width:520px">
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col" style="visibility: hidden"></div>
                        <div class="col">A</div>
                        <div class="col">B</div>
                        <!--
                        <div class="col">M</div>
                        <div class="col">Mag</div>
                        -->
                    </div>
                    <div class="row" style="width:520px">
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col">AA</div>
                        <div class="col" style="visibility: hidden"></div>
                        <div class="col">A</div>
                        <div class="col">B</div>
                        <!--
                        <div class="col">M</div>
                        <div class="col">Mag</div>
                        -->
                    </div>
                </div>

                <div class="card-body">
                    <CompetencesEtTalents Carriere="@Carriere"/>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col@(Carriere.Filieres.Count <= Carriere.Debouches.Count ? "-5" : "-7")">
                @if (@Carriere.Filieres.Any())
                {
                    <div class="card-body">
                        <CarriereItemList Title="Filières" Items="@Carriere.Filieres.ToArray()"/>
                    </div>
                }
            </div>
            <div class="col@(Carriere.Filieres.Count <= Carriere.Debouches.Count ? "-7" : "-5")">
                <div class="card-body">
                    <CarriereItemList Title="Débouchés" Items="@Carriere.Debouches.ToArray()"/>
                </div>
            </div>
        </div>
    </div>
    
</div>