@page "/competence/{CompetenceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Talent

<div class="top-row px-4">
    <span class="title-primary top-row-title">@Competence.Nom</span>
</div>

<div class="content px-4">
    <div class="card">
        <h3 class="card-header">@Competence.Nom</h3>
        
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                <span class="oi oi-book mr-1" aria-hidden="true"></span>
                @Competence.CaracteristiqueAssociee
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title title-primary">Description</h5>
            <p class="card-text">@Competence.ResumeComplet</p>
        </div>

        <div class="card-body">
            <h5 class="card-title title-primary">Talents liés</h5>
            <TalentItemList Title="Talents" Items="@Competence.TalentsLies.ToArray()" />
        </div>

        <div class="card-body">
            <CarriereItemList Title="Carrières proposant cette compétence" Items="@_carrieres"/>
        </div>
    </div>
</div>

