@page "/equipement/armes-liste/{Groupe}/{Filtre}/"

@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject ArmesService _armesService
@inject AptitudesService _aptitudesService

<MainTopRow>
    <h3 class="card-title" style="display:inline-block;">Armes</h3>
    <span style="margin-left: 160px;">
        <a style="width:120px; margin-top:-10px;" href="equipement/armes-liste/toutes/@Groupe/" class="mr-2 btn btn-sm @(Filtre == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armes-liste/melee/@Groupe/" class="mr-2 btn btn-sm @(Filtre == "melee" ? "btn-primary" : "btn-secondary")">Mélee</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armes-liste/tir/@Groupe/" class="mr-2 btn btn-sm @(Filtre == "tir" ? "btn-primary" : "btn-secondary")">Tir</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armes-liste/boucliers/toutes/" class="mr-2 btn btn-sm @(Filtre == "boucliers" ? "btn-primary" : "btn-secondary")">Boucliers</a>
        <a style="width:120px; margin-top:-10px;" href="equipement/armes-liste/munitions/toutes/" class="mr-2 btn btn-sm @(Filtre == "munitions" ? "btn-primary" : "btn-secondary")">Munitions</a>
    </span>
</MainTopRow>

<div class="content px-4">

    <div class="ml-3 mb-3 pl-2">
        <div class="row">
            <div class="col-1">
                <a href="equipement/armes-liste/toutes/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
            </div>
            <div class="col-5">
                @if (Filtre == "toutes" || Filtre == "melee" || Filtre == "boucliers")
                {
                    @foreach (var skillMelee in _aptitudesService.AllMeleeSpecialisations)
                    {
                        <a href="equipement/armes-liste/@skillMelee.Spe/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == skillMelee.Spe ? "btn-primary" : "btn-secondary")">@skillMelee.Spe</a>    
                    }
                }
            </div>
            <div class="col-5">
                @if (Filtre == "toutes" || Filtre == "tir" || Filtre == "munitions")
                {
                    @foreach (var skillTir in _aptitudesService.AllTirSpecialisations)
                    {
                        <a href="equipement/armes-liste/@skillTir.Spe/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == skillTir.Spe ? "btn-primary" : "btn-secondary")">@skillTir.Spe</a>    
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @foreach (var groupeDArmes in _armesService.AllGroupesDArmes)
                {
                    var groupeDArme = GetGroupe(groupeDArmes.Nom);
                    <a href="equipement/armes-liste/@groupeDArme/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == groupeDArme ? "btn-primary" : "btn-secondary")">@groupeDArmes.Nom</a>
                }
            </div>    
        </div>
    </div>

    @if (_armesDeCaC.Any())
    {
        <h5 class="card-title">Armes de contact</h5>
        @foreach (var groupe in _armesService.ArmesDeContactPourTable)
        {
            if (groupe.Value.Intersect(_armesDeCaC).Any())
            {
                <ArmeGroupeTable Armes="@groupe.Value" Groupe="@groupe.Key" ArmesDeTir="@false"/>
            }
        }
    }
    @if (_boucliers.Any())
    {
        <h5 class="card-title">Boucliers</h5>
        <ArmeGroupeTable Armes="_boucliers" Groupe="Boucliers" ArmesDeTir="@false"/>
    }
    @if (_armesDeTir.Any())
    {
        <h5 class="card-title">Armes à distance</h5>
        @foreach (var groupe in _armesService.ArmesADistancePourTable)
        {
            if (groupe.Value.Intersect(_armesDeTir).Any())
            {
                <ArmeGroupeTable Armes="@groupe.Value" Groupe="@groupe.Key" ArmesDeTir="@true"/>
            }
        }
    }
    @if (_munitions.Any())
    {
        <h5 class="card-title">Munitions</h5>
        <ArmeGroupeTable Armes="_munitions" Groupe="Munitions" ArmesDeTir="@true"/>
    }
    
    @if (GroupeActuel != null)
    {
        <div class="row">
            <div class="col">
                <div class="bulle">
                    <h6 class="card-title">@GroupeActuel.Nom</h6>
                    <CardParagraphes Text="@GroupeActuel.Description"/>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Groupe { get; set; } = "";
    [Parameter]
    public string Filtre { get; set; } = "";

    private ArmeAttributDto? GroupeActuel { get; set; }
    
    private List<ArmeDto> _armesDeCaC = null!;
    private List<ArmeDto> _armesDeTir = null!;
    private List<ArmeDto> _boucliers = null!;
    private List<ArmeDto> _munitions = null!;

    private string GetGroupe(string specialisation)
    {
        return GenericService.ConvertirCaracteres(specialisation).Replace(" ", "-");
    }

    protected override void OnParametersSet()
    {
        var armes = _armesService.AllArmes;
        _armesDeCaC = new();
        _armesDeTir = new();
        _boucliers = new();
        _munitions = new();

        if (Filtre == "toutes" || Filtre == "melee")
            _armesDeCaC = armes.Where(a => a.EstUneArmeDeCaC).ToList();
        if (Filtre == "toutes" || Filtre == "tir")
            _armesDeTir = armes.Where(a => a.EstUneArmeDeTir).ToList();
        if (Filtre == "toutes" || Filtre == "boucliers")
            _boucliers = armes.Where(a => a.Groupes.Contains(_armesService.GroupeBouclier)).ToList();
        if (Filtre == "toutes" || Filtre == "munitions")
            _munitions = armes.Where(a => a.EstUneMunition).ToList();

        GroupeActuel = Groupe != "toutes" ? _armesService.AllGroupesDArmes.Single(g => GetGroupe(g.Nom) == Groupe) : null;

    }
}
