@page "/todo"

@using BlazorWjdr.Services
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude

@inject CarrieresService _cs
@inject AptitudesService _as

<MainTopRow Title="Au travail !"/>

<div class="content">
    <div class="row">
        <div class="col-1"></div>    
        <div class="col-10">
            <h4 class="card-title">Carrières sans Description</h4>
            <CarriereItemList Items="@_cs.AllCarrieres.Where(c => string.IsNullOrWhiteSpace(c.Description)).ToArray()"/>
            <h4 class="card-title">Carrières de base sans Vocation/Groupe</h4>
            <CarriereItemList Items="@_cs.AllCarrieres.Where(c => c.EstUneCarriereDeBase && string.IsNullOrWhiteSpace(c.Groupe)).ToArray()"/>
            <h4 class="card-title">Carrières sans Statut</h4>
            <CarriereItemList Items="@_cs.AllCarrieres.Where(c => string.IsNullOrWhiteSpace(c.Statut)).ToArray()"/>
            <h4 class="card-title">Carrières de base sans Métier</h4>
            <CarriereItemList Items="@_cs.AllCarrieres.Where(c => c.EstUneCarriereDeBase && c.CompetenceDeMetier == null).ToArray()"/>
            <h4 class="card-title">Carrières de base sans Ambiance</h4>
            <CarriereItemList Items="@_cs.AllCarrieres.Where(c => c.EstUneCarriereDeBase && !c.Ambiance.Any()).ToArray()"/>

            <h4 class="card-title">Aptitudes sans description</h4>
            <AptitudeItemList Items="@_as.AllAptitudes.Where(a => string.IsNullOrWhiteSpace(a.Description)).ToArray()"/>
            <h4 class="card-title">Compétences et Talents sans carrières</h4>
            <AptitudeItemList Items="@_as.AllAptitudes.Where(a => (a.EstUneCompetence || a.EstUnTalent) && !_cs.AllCarrieres.Any(c => c.Aptitudes.Contains(a))).ToArray()"/>
            <h4 class="card-title">Aptitudes ou resume = description</h4>
            <AptitudeItemList Items="@_as.AllAptitudes.Where(a => a.Resume != "" && a.Resume == a.Description).ToArray()"/>

        </div>
        <div class="col-1"></div>
    </div>
</div>