@page "/regles/combat/"

@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Talent
@using BlazorWjdr.Components.Regle
@using BlazorWjdr.Components.Table
@using BlazorWjdr.Components.Trait
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject ReglesService _reglesService
@inject TablesService _tablesService
@inject TraitsService _traitsService
@inject CompetencesEtTalentsService _competencesEtTalentsService
@inject ArmesService _armesService

<MainTopRow>
    <h3 class="card-title">Déroulement d'une bataille</h3>
</MainTopRow>

<div class="content px-4">

    <img class="shadow p-1 mb-5 bg-white rounded" src="/images/ambiance/bataille.jpg" alt="Baston !!!"/>
    
    <div class="row">
        <div class="col-6">
            <PageSectionRowTitle Title="1. Effet de surprise"/>
            <div class="card-body">
                
                <p class="card-text">
                    Le MJ détermine si certains combattants sont <em>Supris</em>. Cela ne peut normalement arriver qu'au premier Round.<br/>
                    Les combattants qui possèdent le talent <TalentItem Item="@_competencesEtTalentsService.TalentSurSesGardes"/> ont une chance d'éviter d'être <TraitItem Item="@_traitsService.ConditionSurpris"/>.
                </p>

                <p class="card-text">
                    Prendre l'ennemi par surprise confère un énorme avantage. Si l'un des camps prépare une attaque, il peut tenter de profiter de l'effet de suprise en :
                    <ul>
                        <li><strong>Dissimulation : </strong>réussir un test de <CompetenceItem Item="@_competencesEtTalentsService.CompetenceDissimulation"/> approprié. Les victimes peuvent y opposer un test de <CompetenceItem Item="@_competencesEtTalentsService.CompetencePerception"/> s'il sont sur leurs gardes ou selon l'humeur du MJ.</li>
                        <li><strong>Attaque sournoise : </strong>attaque dans le dos, dans l'ombre, à travers un épais brouillard ou depuis le ciel ! Selon les conditions et l'humeur du MJ, les victimes peuvent y opposer un test de <CompetenceItem Item="@_competencesEtTalentsService.CompetencePerception"/> s'il sont sur leurs gardes.</li>
                        <li><strong>Diversion : </strong>forte détonation, foule de pénitents menée par un sermon particulièrement engageant sont des exemples qui peuvent couvrir une attaque surprise.</li>
                        <li><strong>Pris au dépourvu : </strong>s'il l'ennemi n'est particulièrement pas préparé à une attaque, l'effet de surprise est automatique.</li>
                        <li><strong>Autre chose : </strong>tout autre plan sournois ou ingénieux concoté par des joueurs méticuleux.</li>
                    </ul>
                    S'il y a une chance pour que les embusqués soient repérés, le MJ appèlera un test opposé <CompetenceItem Item="@_competencesEtTalentsService.CompetenceDissimulation"/> <strong>vs</strong> <CompetenceItem Item="@_competencesEtTalentsService.CompetencePerception"/>, généralement avec le personnage qui a la plus faible valeur en Dissimultion opposé à toutes les sentinelles potentielles.
                    Ceux qui échouent sont <TraitItem Item="@_traitsService.ConditionSurpris"/>.
                    <br/>
                    Le MJ peut également effectuer un test d'<CompetenceItem Item="@_competencesEtTalentsService.CompetenceIntuition"/> pour les personnages possédant un <TalentItem Item="_competencesEtTalentsService.TalentSixiemeSens"/> qui éviteront de justesse d'être Surpris, sans pour autant avoir le temps de prévenir les autres.
                </p>

            </div>
        </div>
        <div class="col-6">
            <PageSectionRowTitle Title="2. Initiative de combat"/>
            <div class="card-body">
                <p class="card-text">
                    Chaque combattant lance 1d10 et y ajoute son bonus d'Initiative et son bonus d'Agilité.<br/>
                    Les combattants disposant de <TalentItem Item="@_competencesEtTalentsService.TalentReflexesDeCombat"/> ont un bonus supplémentaire.
                </p>
                <p class="card-text">
                    Durant chaque Round, les combatants joueront leur Tour dans l'ordre du score le plus fort au plus faible.
                </p>
            </div>
            
            <PageSectionRowTitle Title="3. Début du Round"/>
            <div class="card-body">
                <p class="card-text">
                    Si des règles s'appliquent au début du Round, elles s'appliquent maintenant.
                    <br/>
                    <ul>
                        <li><TalentItem Item="@_competencesEtTalentsService.TalentTirEclair"/></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <PageSectionDivider/>

    <div class="row">
        <div class="col-4">
            <PageSectionRowTitle Title="4. Chaque combattant joue son Tour"/>
            <div class="card-body">
                <p class="card-text">
                    Cela dans l'ordre défini par l'Initiative de combat.
                    <br/>
                    Chaque combattant peut normalement effectuer un Déplacement et une Action pendant son Tour.
                </p>
                <p class="card-text">
                    Le MJ décrit votre situation - ou se trouve chaque combattant et ce qui vous entoure - et vous pouvez poser des questions supplémentaires pour planifier votre Tour.
                    <br/>
                    On détermine si le personnage actif est en supériorité numérique, en prenant en compte l'évetuelle <TalentItem Item="_competencesEtTalentsService.TalentPresenceImposante"/> de ses adversaires :
                    <ul>
                        <li>à raison de 2 contre 1, l'attaquant gagne un bonus de +20 en CC.</li>
                        <li>à raison de 3 contre 1, l'attaquant gagne un bonus de +40 en CC.</li>
                    </ul>
                    <br/>
                    Vous pouvez effectuer votre Déplacement et votre Action dans l'ordre souhaité, ou en même temps en décrivant comment vous combinez les deux.
                </p>
            </div>
            <TableDetail Item="@_tablesService.GetTable(65)"></TableDetail>
        </div>
        <div class="col-4">
            <TableDetail Item="@_tablesService.GetTable(66)"></TableDetail>
            <div class="card-body">
                <p class="card-text">
                    Si un combattant est <strong>plus petit</strong> que son adversaire :
                    <ul>
                        <li>en attaque, il gagne un bonus de +10 en CC pour toucher (uniquement).</li>
                        <li>en défense, il subit un malus de -2 BS pour chaque écart de taille quand il utilise sa CC pour un Test Opposé.</li>
                        <li>pour remporter un Test Opposé de Force, il doit faire une Réussite Critique s'il n'a qu'une taille de moins ; au delà l'échec est automatique.</li>
                    </ul>
                </p>
                <p class="card-text">
                    Si un combattant est <strong>plus grand</strong> que son adversaire :
                    <ul>
                        <li>son arme devient <AttributDArmeItem Item="@_armesService.AttributDamaging"/> s'il est <strong>plus grand d'une taille</strong>.</li>
                        <li>son arme devient <AttributDArmeItem Item="@_armesService.AttributPercutant"/> s'il est <strong>plus grand de deux tailles</strong> ou plus.</li>
                        <li>ses dégâts sont multipliés par l'écart de taille - Large vs Moyen = normaux ; Enorme vs Moyen = x2 ; Monstrueux vs Moyen = x3.</li>
                        <li>tous ses coups qui touchent une cible plus petite déclenchent la règle du <em>Coup Fatal</em>, même si la cible survit.</li>
                        <li>il cause la <em>Peur</em> à ses adversaires <strong>plus petits d'une taille</strong>, et au delà la <em>Terreur</em> avec un Taux égal à l'écart de taille.</li>
                        <li>une fois par Round, il peut dépenser 1 Avantage pour effectuer un Pietinement en attaque gratuite (inflige BS+0 en utilisant ses poings/pieds/armes naturelles).</li>
                        <li>il ignore la nécessité de se Désengager pour quitter le combat ; il se contente de se déplacer où il veut en balayant devant lui.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-4">
            <h3 class="card-title">Avantages</h3>
            <p class="card-text">
                Les Avantages représentent vos moments de gloire en combat, quand vous surpassez vos adversaires. On les mémorise avec des jetons, ou avec un d10. Le maximum pour un personnage est capé sur son Bonus d'Initiative.
            </p>
            <p class="card-text">
                Chaque Avantage confère un <strong>bonus de +10</strong> aux tests de combat (attaquer, défendre, résister) et de psychologie (peur, terreur) appropriés.
            </p>
            <h5 class="card-title">Gagner des Avantages</h5>
            <p class="card-text">
                <ul>
                    <li>attaquer un ennemi <TraitItem Item="@_traitsService.ConditionSurpris"/> confère +1 Avantage</li>
                    <li><strong>charger</strong> un adversaire confère +1 Avantage</li>
                    <li>remporter un <strong>Test Opposé</strong> confère +1 Avantage</li>
                    <li>blesser un adversaire sans recourir à un Test Opposé confère +1 Avantage</li>
                    <li>certaines <strong>compétences</strong> et certains <strong>talents</strong> vous donnent un avantage tactique</li>
                    <li><strong>vaincre</strong> un chef de groupe confère +1 Avantage, voir +2 s'il est particulièrement puissant</li>
                </ul> 
            </p>
            <h5 class="card-title">Perdre ou dépenser son Avantage</h5>
            <p class="card-text">
                <ul>
                    <li>perdre un Test Opposé, subir une <em>Condition</em> ou être blessé vous fait perdre tous vos Avantages</li>
                    <li>si à la fin d'un Round vous n'avez gagné aucun Avantage, ou que vous êtes en infériorité numérique, vous perdez 1 Avantage</li>
                    <li>vous pouvez dépenser des Avantages pour vous Désengager d'un combat</li>
                    <li>des compétences, talents et attributs d'armes permettent de dépenser des Avantages en échange d'une capacité</li>
                </ul> 
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h4 class="card-title">Charger</h4>
            <p class="card-text">
                Si vous n'êtes pas déjà engagé, vous pouvez utiliser votre Déplacement pour charger.
                Votre Action sera un test de Mélée pour attaquer votre adversaire.
                Si votre adversaire est à une distance comprise entre votre valeur de Mouvement et votre valeur de Course, vous gagnez un Avantage avant de frapper.                 
            </p>
            <h4 class="card-title">Se Désengager ou Fuir</h4>
            <p class="card-text">
                Si vous êtes engagé, vous avez ces deux options pour quitter le combat en sécurité :
                <ul>
                    <li>Utiliser votre <strong>Avantage</strong> : si vous avez plus d'Avantage que vos adversaire (cumulés), vous êtes en position supérieur et pouvez facilement vous mettre hors de portée. Votre Avantage retombe à 0 mais vous pourrez vous éloigner, puis charger à nouveau, fuir, ou prendre un peu de recul pour tirer sur un adversaire.</li>
                    <li>
                        Utiliser l'<CompetenceItem Item="@_competencesEtTalentsService.CompetenceEsquive"/> : si vous n'avez pas l'Avantage ou souhaitez le conserver, vous êtes contraint d'utiliser votre Action pour un <strong>Test Opposé d'Esquive / Mélée</strong>.
                        Sur une réussite vous gagnez 1 Avantage et pouvez utiliser votre Deplacement pour vous éloigner. Sinon, chaque adversaire qui l'emporte gagne 1 Avantage et à droit à une attaque d'opportunité.
                    </li>
                    <li>
                        Vous pouvez délibéremment ou non <strong>Fuir</strong> auquel cas tous vos adversaires gagnent immédiatement 1 Avantage et ont droit à une attaque d'opportunité (test non opposé de Mélée) avec un bonus de +20.
                        Si vous êtes touché, chaque adversaire gagne 1 Avantage et vous devez réussir un test de <CompetenceItem Item="@_competencesEtTalentsService.CompetenceSangFroid"/> ou gagner une Condition <TraitItem Item="@_traitsService.ConditionDemoralise"/>, plus une supplémentaire par BS en dessous de 0.
                        Cela résolu, vous pouvez vous éloigner de votre Mouvement de Course si vous en êtes encore capable.
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-4">
            <h4 class="card-title">Mouvement et distances</h4>
            <p class="card-text">
                Indique combien de mètres vous pouvez parcourir en un seul Tour.
                Vous pouvez utiliser <CompetenceItem Item="@_competencesEtTalentsService.CompetenceAthletisme"/> pour augmenter cette distance en sprintant. 
            </p>
            <TableDetail Item="@_tablesService.GetTable(67)" FixedColSize="35" MasquerTitre="@true" MasquerDescription="@true"/>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-5">
            <h5 class="card-title">Fin du Round</h5>
            <p class="card-text">
                Les personnages en infériorité numérique perdent 1 Avantage.
                
            </p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-5">
            
        </div>
    </div>
</div>