@page "/equipement/armes-liste/{Groupe}/{Filtre}/"

@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using System.Diagnostics.Contracts

@inject ArmesService _armesService
@inject CompetencesEtTalentsService _competencesEtTalentsService

<MainTopRow>
    <h3 class="card-title" style="display:inline-block;">Armes</h3>
    <span style="margin-left: 160px;">
        <a style="width:120px; margin-top:-10px;" href="/equipement/armes-liste/@Groupe/toutes/" class="mr-2 btn btn-sm @(Filtre == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
        <a style="width:120px; margin-top:-10px;" href="/equipement/armes-liste/@Groupe/corps-a-corps/" class="mr-2 btn btn-sm @(Filtre == "corps-a-corps" ? "btn-primary" : "btn-secondary")">Corps à corps</a>
        <a style="width:120px; margin-top:-10px;" href="/equipement/armes-liste/@Groupe/tir/" class="mr-2 btn btn-sm @(Filtre == "tir" ? "btn-primary" : "btn-secondary")">Tir</a>
    </span>
</MainTopRow>

<div class="content px-4">

    <div class="ml-3 mb-3 pl-2">
        <div class="row">
            <div class="col-1">
                <a href="/equipement/armes-liste/toutes/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
            </div>
            <div class="col-11">
                @foreach (var groupeDArmes in _armesService.AllGroupesDArmes)
                {
                    var groupeDArme = GetGroupe(groupeDArmes.Nom);
                    <a href="/equipement/armes-liste/@groupeDArme/@Filtre/" class="mb-1 mr-1 btn btn-sm @(Groupe == groupeDArme ? "btn-primary" : "btn-secondary")">@groupeDArmes.Nom</a>
                }
            </div>
        </div>
    </div>

    @if (_armesDeCaC.Any())
    {
        <h5 class="card-title">Armes de contact</h5>
        @foreach (var groupe in _armesService.ArmesDeContactPourTable)
        {
            if (groupe.Value.Intersect(_armesDeCaC).Any())
            {
                <ArmeGroupeTable Armes="@groupe.Value" Groupe="@groupe.Key" ArmesDeTir="@false"/>
            }
        }
    }
    @if (_armesDeTir.Any())
    {
        <h5 class="card-title">Armes à distance</h5>
        @foreach (var groupe in _armesService.ArmesADistancePourTable)
        {
            if (groupe.Value.Intersect(_armesDeTir).Any())
            {
                <ArmeGroupeTable Armes="@groupe.Value" Groupe="@groupe.Key" ArmesDeTir="@true"/>
            }
        }
    }
    @if (_munitions.Any())
    {
        <h5 class="card-title">Munitions</h5>
        <ArmeGroupeTable Armes="_munitions" Groupe="Munitions" ArmesDeTir="@true"/>
    }
    
    @if (GroupeActuel != null)
    {
        <div class="row">
            <div class="col">
                <div class="bulle">
                    <h6 class="card-title">@GroupeActuel.Nom</h6>
                    <CardParagraphes Text="@GroupeActuel.Description"/>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Groupe { get; set; } = "";
    [Parameter]
    public string Filtre { get; set; } = "";

    private ArmeAttributDto? GroupeActuel { get; set; }

    private List<ArmeDto> _armesLines = null!;
    private List<ArmeDto> _armesDeCaC = null!;
    private List<ArmeDto> _armesDeTir = null!;
    private List<ArmeDto> _munitions = null!;

    private string GetGroupe(string specialisation)
    {
        return GenericService.ConvertirCaracteres(specialisation).Replace(" ", "-");
    }

    protected override async Task OnParametersSetAsync()
    {
        var armes = await _armesService.Items();
        _armesDeCaC = armes.Where(a => a.EstUneArmeDeCaC).ToList();
        _armesDeTir = armes.Where(a => a.EstUneArmeDeTir).ToList();
        _munitions = armes.Where(a => a.EstUneMunition).ToList();

        // définie les sections qui organiseront les armes dans les tableaux
        var sectionsCaC = new List<string> { "Ordinaires",  }; 
        var sectionsTir = new List<string> { "Arbalètes","Arcs","Poudre","Frondes","Paralysantes","Armes de jet" };

        if (Groupe != "toutes")
        {
            GroupeActuel = _armesService.AllGroupesDArmes.Single(g => GetGroupe(g.Nom) == Groupe);
            _armesLines = armes.Where(a => a.Groupes.Contains(GroupeActuel)).ToList();
        }
        else
        {
            GroupeActuel = null;
            _armesLines = armes.ToList();
        }

        if (Filtre == "corps-a-corps")
            _armesLines = _armesDeCaC;
        if (Filtre == "tir")
            _armesLines = _armesDeTir;

    }
}
