@page "/table-carrieres-initiales/{RaceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Race
@using BlazorWjdr.Services

@inject RacesService _racesService;

<MainTopRow>
    <div class="mt-3 mb-3 pl-2">
        <LinkCarrieresInitiales Actif="@_racesService.Elfes.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Elfes" />
        <LinkCarrieresInitiales Actif="@_racesService.Halfelings.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Halfelings" />
        <LinkCarrieresInitiales Actif="@_racesService.Humains.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Humains" />
        <LinkCarrieresInitiales Actif="@_racesService.Nains.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Nains" />
    </div>
</MainTopRow>

<div class="content px-4">
    <h3>Table des carrières initiales</h3>
    
    <TableDeDepart RaceId="@RaceId" />
</div>

@code{
    [Parameter]
    public string RaceId { get; set; } = null!;
}