@page "/table-carrieres-initiales/{RaceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Race
@using BlazorWjdr.Services

@inject RacesService _racesService;

<h1>Table des carrières initiales</h1>

<div class="mb-3 pl-2">
    <LinkCarrieresInitiales Actif="@_racesService.Elfes.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Elfes" />
    <LinkCarrieresInitiales Actif="@_racesService.Halfelings.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Halfelings" />
    <LinkCarrieresInitiales Actif="@_racesService.Humains.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Humains" />
    <LinkCarrieresInitiales Actif="@_racesService.Nains.Id.Equals(int.Parse(@RaceId))" Race="@_racesService.Nains" />
</div>

<TableDeDepart RaceId="@RaceId" />

@code{
    [Parameter]
    public string RaceId { get; set; } = null!;
}